@charset "UTF-8";
/*
    Created on : 10/08/2015, 12:21:32
    Author     : Adam Silva - Ag├¬ncia 3xceler
*/
/* Mixins */
/* Atributos */
.light {
  color: #FFF;
}

.gray {
  color: #b1b1b1;
}

.dark {
  color: #000;
}

.uppercase, .titulo, .titulo-yellow, .titulo-branco, .titulo-big, header #top-menu ul.navbar-nav > li a, #slider h2, #slider p, #content #historia p:first-of-type:first-letter, .aplicacao h3, #blog .titulo-blog, #blog .post-social .date, #blog .post-social .like, #blog-content .more, #links-rodape ul li a, #banner .titulo-banner, #banner h2, #banner .blog .titulo-blog, #banner .blog h2, .social-minibox .likes-label {
  text-transform: uppercase;
}

.gigant {
  font-size: 40px;
}

.big {
  font-size: 18px;
}

.medium, header #top-menu ul.navbar-nav > li a {
  font-size: 14px;
}

.regular {
  font-size: 13px;
}

.small {
  font-size: 12px;
}

.negrito, header #top-menu ul.navbar-nav > li a, #slider h2, #links-rodape .endereco {
  font-weight: bold;
}

.bg-dark {
  background-color: #2d2d2d;
}

.bg-blue, header #top-menu {
  background-color: #261e4c;
}

.marginT30 {
  margin-top: 30px;
}

.marginT62, .cidade {
  margin-top: 62px;
}

.marginB62 {
  margin-bottom: 62px;
}

.marginL20 {
  margin-left: 20px;
}

.noMarginT {
  margin-top: 0px !important;
}

.center {
  text-align: center;
}

.txt-hero {
  padding: 20px 40px 20px 40px;
}

.transparent-blue, header #top-menu, header #top-menu ul.navbar-nav > li.sub-menu-columns ul, header #top-menu ul.navbar-nav > li.dropdown ul, #slider .arrow-down {
  background: -moz-linear-gradient(top, rgba(38, 30, 76, 0.9) 0%, rgba(38, 30, 76, 0.9) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(38, 30, 76, 0.9)), color-stop(100%, rgba(38, 30, 76, 0.7)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(38, 30, 76, 0.9) 0%, rgba(38, 30, 76, 0.9) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(38, 30, 76, 0.9) 0%, rgba(38, 30, 76, 0.9) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(38, 30, 76, 0.9) 0%, rgba(38, 30, 76, 0.9) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(38, 30, 76, 0.9) 0%, rgba(38, 30, 76, 0.9) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3261e4c', endColorstr='#b3261e4c',GradientType=0 );
  /* IE6-9 */
}

.transparent-light-blue, #slider .after {
  background: -moz-linear-gradient(top, rgba(38, 30, 76, 0.5) 0%, rgba(38, 30, 76, 0.5) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(38, 30, 76, 0.5)), color-stop(100%, rgba(38, 30, 76, 0.5)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(38, 30, 76, 0.7) 0%, rgba(38, 30, 76, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(38, 30, 76, 0.5) 0%, rgba(38, 30, 76, 0.5) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(38, 30, 76, 0.5) 0%, rgba(38, 30, 76, 0.5) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(38, 30, 76, 0.5) 0%, rgba(38, 30, 76, 0.5) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3261e4c', endColorstr='#b3261e4c',GradientType=0 );
  /* IE6-9 */
}

.btn-default {
  color: #261e4c;
  text-align: center;
  font-size: 14px;
}

.btn-cancel {
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 700;
}

.btn-primary {
  padding: 12px 26px 12px 26px;
  color: #261e4c;
  background-color: #eeb313;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.btn-primary:hover, .btn-primary:focus {
  color: #eeb313;
  background: #261E4C !important;
}
.btn-primary.inverted {
  color: #FFF;
}

.btn-secondary {
  padding: 12px 26px 12px 26px;
  color: #FFF;
  background-color: #261e4c;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.btn-secondary:hover {
  color: #261e4c;
  background-color: #eeb313;
}
.btn-secondary.narrow {
  height: 32px;
  padding-top: 6px;
  font-weight: 400;
}
.btn-secondary.btn-inverted {
  background-color: #eeb313;
}
.btn-secondary.btn-inverted:hover {
  color: #FFF;
  background-color: #261e4c;
}

.btn-search {
  position: absolute;
  right: 0;
  margin-right: 4px;
  margin-top: -52px;
  background: none;
  border: none;
}

.blue-icon {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin-bottom: 8px;
  color: #eeb313;
  background-color: #261e4c;
  margin-left: auto;
  margin-right: auto;
}
.blue-icon img {
  width: 100%;
  height: auto;
}

.service-item {
  margin-bottom: 15px;
  position: relative;
}
.service-item .service-title {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.76);
  width: 100%;
  color: #FFF;
  text-decoration: none;
  -webkit-transition: ease .2s;
  -moz-transition: ease .2s;
  -ms-transition: ease .2s;
  -o-transition: ease .2s;
  transition: ease .2s;
}
.service-item:hover .service-title {
  color: yellow;
}
@media only screen and (max-width: 768px) {
  .service-item .service-thumbnail img {
    width: 100%;
  }
}

.thumbnail-height {
  height: 302px;
}

.active .blue-icon {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  width: 45px;
  height: 45px;
  color: #261e4c;
  background-color: #373737;
}

.link-cinza, #links-rodape .social-links a {
  color: #b1b1b1;
}
.link-cinza:hover, #links-rodape .social-links a:hover {
  color: #eeb313;
}

.link-branco, .breadcrumb ol li a {
  color: #FFF;
}
.link-branco:hover, .breadcrumb ol li a:hover {
  color: #b1b1b1;
}

.link-amarelo, #blog-sidebar h4 a, #catalogo h4 a {
  color: #eeb313;
}
.link-amarelo:hover, #blog-sidebar h4 a:hover, #catalogo h4 a:hover {
  color: #261e4c;
}

.link-azul, #blog-content .more {
  color: #261e4c;
}
.link-azul:hover, #blog-content .more:hover {
  color: #eeb313;
}

.link-box:hover, header #top-menu ul.navbar-nav > li > a:hover {
  color: #eeb313;
}
.link-box:hover::before, header #top-menu ul.navbar-nav > li > a:hover::before {
  content: "";
  position: absolute;
  left: -6px;
  margin-top: -8px;
  height: 11px;
  width: 11px;
  background: url(../img/hover-menu.png);
}
.link-box:hover::after, header #top-menu ul.navbar-nav > li > a:hover::after {
  content: "";
  position: absolute;
  right: -6px;
  bottom: 2px;
  height: 11px;
  width: 11px;
  background: url(../img/hover-menu.png);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.left-borderY:before, .titulo:before {
  content: "";
  position: absolute;
  margin-left: -18px;
  width: 4px;
  height: 20px;
  background-color: #eeb313;
}

.img-artigo {
  padding: 42px 42px 42px 32px;
}

body {
  color: #b1b1b1;
  font-family: "Ubuntu", sans-serif;
}

.titulao {
  color: #FFF;
  background: #FFF;
}

.titulo {
  padding-left: 20px;
  color: #261e4c;
  font-size: 20px;
  font-weight: 500;
}

.titulo-yellow {
  color: #eeb313;
  font-size: 22px;
  font-weight: 500;
}

.titulo-branco {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #b1b1b1;
}
.titulo-branco:before {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  content: "";
  position: absolute;
  margin-top: 34px;
  width: 50px;
  height: 3px;
  background-color: #eeb313;
}

.titulo-big {
  position: relative;
  text-align: center;
  color: #261e4c;
  font-size: 35px;
  font-weight: 300;
  line-height: 40px;
}
.titulo-big span {
  background: #FFF;
  position: relative;
  z-index: 1;
}
.titulo-big:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  height: 19px;
  background: url("../img/border.jpg");
}

.paragrafo {
  font-size: 14px;
  color: #b1b1b1;
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: justify;
}

.artigo {
  margin-bottom: 72px;
}

/* Objetos */
header #top-info {
  min-height: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #2d2d2d;
  position: relative;
  z-index: 1001;
}
header #top-info .inline-block {
  display: inline-block;
}
header #top-info .icon {
  margin-right: 5px;
}
header #top-info .fa.gigant {
  font-size: 40px;
}
header #top-info #social {
  padding-top: 12px;
}
header #top-info #social a:hover .fa {
  color: #eeb313;
}
header #top-info #social .fa {
  font-size: 14px;
  margin-right: 12px;
}
header #top-menu {
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  z-index: 1000;
  height: 118px;
  border: none;
  border-radius: 0px;
}
header #top-menu #myNavbar {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
header #top-menu ul.navbar-nav > li {
  height: 118px;
  line-height: 117px;
}
header #top-menu ul.navbar-nav > li a {
  color: #FFF;
  margin-right: 8px;
  vertical-align: middle;
}
header #top-menu ul.navbar-nav > li > a {
  display: inline-block;
}
header #top-menu ul.navbar-nav > li.open > a, header #top-menu ul.navbar-nav > li.active > a {
  background: none;
  color: #eeb313;
}
header #top-menu ul.navbar-nav > li:hover ul {
  display: block;
}
header #top-menu ul.navbar-nav > li.sub-menu-columns ul {
  right: inherit;
  width: 344px;
  border: 0;
  border-top: 3px solid #EEB313;
  border-radius: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
header #top-menu ul.navbar-nav > li.sub-menu-columns ul > li {
  display: inline-block;
  float: left;
  width: 50%;
  margin: 7px 0;
}
header #top-menu ul.navbar-nav > li.sub-menu-columns ul > li:nth-child(odd) {
  float: left;
}
header #top-menu ul.navbar-nav > li.sub-menu-columns ul > li:nth-child(even) {
  float: right;
}
header #top-menu ul.navbar-nav > li.sub-menu-columns ul > li > a {
  font-size: 11px;
  font-weight: 400;
}
header #top-menu ul.navbar-nav > li.sub-menu-columns ul > li > a:hover {
  background: none;
  color: #eeb313;
}
header #top-menu ul.navbar-nav > li.sub-menu-columns ul > li.active a {
  background: transparent;
}
header #top-menu ul.navbar-nav > li.dropdown ul {
  right: inherit;
  border: 0;
  border-top: 3px solid #EEB313;
  border-radius: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
header #top-menu ul.navbar-nav > li.dropdown ul > li {
  display: block;
  margin: 7px 0;
}
header #top-menu ul.navbar-nav > li.dropdown ul > li > a {
  font-size: 11px;
  font-weight: 400;
}
header #top-menu ul.navbar-nav > li.dropdown ul > li > a:hover {
  background: none;
  color: #eeb313;
}
header #top-menu ul.navbar-nav > li.dropdown ul > li.active a {
  background: transparent;
}
header #top-menu ul.navbar-nav > li .caret {
  display: none;
}
header #top-menu ul.navbar-nav > li .cart-count {
  background-color: #EEB313;
  padding: 2px 5px;
  color: #FFF;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 8px;
}
header #top-menu .navbar-header {
  height: 118px;
  line-height: 113px;
}
header #top-menu .navbar-header .navbar-toggle {
  margin-top: 41px;
  border-color: transparent;
}
header #top-menu .navbar-header .navbar-toggle:hover {
  background: none;
}
header #top-menu .navbar-header .navbar-toggle .icon-bar {
  background-color: #EEB313;
}
header #top-menu .navbar-header a {
  float: none;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
header #top-menu.interna {
  background-color: #261e4c;
}
header #menu-wrap {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
header #menu-wrap #desktop-menu-wrap {
  height: auto;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
header #menu-wrap #search-wrap {
  position: relative;
  line-height: 113px;
  overflow: hidden;
  max-height: 200px;
  height: 0;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
header #menu-wrap #search-wrap input[type="search"] {
  background-color: transparent;
  border: 0;
  height: 100%;
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
  width: 100%;
  padding-right: 73px;
}
header #menu-wrap #search-wrap input[type="search"]:focus {
  outline: 0;
}
header #menu-wrap #search-wrap input[type="search"]::-webkit-input-placeholder {
  color: #FFF;
}
header #menu-wrap #search-wrap input[type="search"]:-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
}
header #menu-wrap #search-wrap input[type="search"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
}
header #menu-wrap #search-wrap input[type="search"]:-ms-input-placeholder {
  color: #FFF;
}
header #menu-wrap #search-wrap .icon-search {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
header #menu-wrap.active {
  -webkit-transform: translateY(-118px);
  -ms-transform: translateY(-118px);
  transform: translateY(-118px);
}
header #menu-wrap.active #search-wrap {
  height: 118px;
}
header #menu-wrap.active #desktop-menu-wrap {
  overflow: hidden;
  opacity: 0;
}
header #menu-wrap.active #myNavbar {
  opacity: 0;
}
header #menu-wrap.active .icon-search {
  background: url("../img/searchactive.png") no-repeat;
}

#slider {
  position: relative;
  z-index: 0;
}
#slider .after {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#slider .carousel-caption {
  position: absolute;
  z-index: 200;
  right: 0;
  left: 0;
  top: 160px;
}
#slider .carousel-control {
  z-index: 5000;
}
#slider h2 {
  font-size: 50px;
  color: #FFF;
}
#slider p {
  font-size: 22px;
  font-style: italic;
  color: #FFF;
}
#slider ul {
  margin-top: 20px;
  list-style: none;
}
#slider ul li {
  display: inline;
  margin-right: 90px;
  color: #eeb313;
  font-size: 14px;
}
#slider ul li:before {
  content: "";
  position: absolute;
  margin-left: -32px;
  margin-top: -4px;
  background: url("../img/icon-check.png");
  width: 27px;
  height: 30px;
}
#slider .arrow-down {
  position: absolute;
  z-index: 600;
  margin-top: -80px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 45px;
  color: #FFF;
  padding-top: 14px;
  text-align: center;
}

#content h3 {
  font-size: 15px;
}
#content .guindaste {
  width: 100%;
  height: 444px;
  background: url("../img/guindaste.jpg") no-repeat;
  background-position: center -70px;
  background-size: 35%;
}
#content #sobre {
  padding-top: 38px;
}
#content #clientes-right {
  position: absolute;
  right: 0px;
  margin-top: -40px;
}
#content #tabela-produtos {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  width: calc(100% - 2px);
  margin-top: 30px;
  border: 1px solid #CCC;
  overflow-x: scroll;
  overflow-y: visible;
  padding-bottom: 1px;
}
#content #tabela-produtos table {
  width: 100%;
}
#content #tabela-produtos table thead tr {
  border-bottom: 1px solid #CCC;
}
#content #tabela-produtos table thead tr td {
  padding: 5px 10px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  border-top-width: 0;
  white-space: normal;
}
#content #tabela-produtos table thead tr td:last-child {
  border-right: 0;
}
#content #tabela-produtos table thead tr td.headcol {
  border-bottom: 1px solid #CCC;
  border-radius: 9px 0 0 0;
}
#content #tabela-produtos table tbody tr td {
  text-align: center;
  padding: 5px;
}
#content #tabela-produtos table td {
  white-space: normal;
}
#content #tabela-produtos table td.headcol {
  padding: 10px 15px;
  border-right: 1px solid #CCC;
}
#content #tabela-produtos table td.headcol span {
  display: table-cell;
  vertical-align: middle;
}
#content #tabela-produtos .btn {
  margin-top: 15px;
}
#content .thead {
  padding: 7px;
  background-color: #3B345E;
  display: inline-block;
  color: #FFF;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
}
#content .tabela-orcamento {
  border: 1px solid rgba(59, 52, 94, 0.16);
  margin-bottom: 15px;
}
#content .tabela-orcamento thead {
  background-color: #3B345E;
  color: #FFF;
}
#content .tabela-orcamento thead tr th {
  padding: 5px;
  font-weight: 400;
}
#content .tabela-orcamento tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(59, 52, 94, 0.16);
}
#content .tabela-orcamento tbody tr td {
  padding: 5px;
}
#content .tabela-orcamento tbody tr td .btn-link {
  color: #3B345E;
}
#content .tabela-orcamento tbody tr td:last-child {
  text-align: center;
}
#content .tabela-orcamento .form-group {
  margin-bottom: 0;
}
#content .tabela-orcamento .form-group .input-group-addon {
  padding: 0;
}
#content .b-add-orcamento {
  margin-right: 5px;
}
#content #historia p:first-of-type:first-letter {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: #FFF;
  background-color: #eeb313;
  font-size: 36px;
  padding: 2px 8px 2px 8px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.aplicacoes-page .aplicacao {
  height: 139px;
  margin-bottom: 60px;
  padding-left: 163px;
}
.aplicacoes-page .aplicacao .thumbnail-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 1px solid;
}
.aplicacoes-page .aplicacao .aplicacao-thumbnail {
  width: 100%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
.aplicacoes-page .aplicacao .aplicacao-header {
  position: relative;
}
.aplicacoes-page .aplicacao .aplicacao-header .blue-icon {
  position: absolute;
  left: 0;
  top: 0;
}
.aplicacoes-page .aplicacao .aplicacao-header .aplicacao-title {
  color: #eeb313;
  text-align: left;
  font-size: 16px;
  margin-top: 0;
  padding-top: 0;
}
.aplicacoes-page .aplicacao .apli-info {
  text-align: left;
  width: 100%;
}
.aplicacoes-page .aplicacao:before {
  content: '';
  display: block;
  background: #FFF;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
}

.aplicacao {
  height: 208px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}
.aplicacao .apli-info {
  width: 244px;
  text-align: center;
  margin: 0 auto;
}
.aplicacao h3 {
  color: #eeb313;
  font-size: 16px;
  margin-top: 0;
  padding-top: 0;
}
.aplicacao p {
  font-size: 14px;
}
.aplicacao .btn {
  position: absolute;
  bottom: 0;
}
.aplicacao .btn-inhome {
  border: 0;
  padding: 7px 20px;
  border-radius: 5px;
  color: #261E4C;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}

#aplicacoes .aplicacao {
  margin-top: 35px;
  height: 221px;
}

.map {
  margin-top: 38px;
}

#produtos {
  padding-top: 39px;
}
#produtos .legend-icon {
  font-size: 10px;
  line-height: 10px;
  color: #0F194C;
  display: block;
  font-weight: bold;
  text-align: center;
}
#produtos #lista-produtos {
  list-style: none;
  padding: 0;
  text-align: center;
}
#produtos #lista-produtos li {
  vertical-align: top;
  display: inline-block;
  width: 68px;
  margin: 0 5px;
  min-height: 75px;
  margin-bottom: 15px;
}
#produtos #lista-produtos li.active .blue-icon {
  opacity: 0.5;
}
#produtos #lista-produtos li a {
  position: relative;
  text-decoration: none;
  display: block;
}
#produtos #produtos-content {
  clear: both;
  min-height: 350px;
}
#produtos #produtos-content .featured {
  border-radius: 6px;
}
#produtos #produtos-content .titulo-yellow {
  margin-top: 0;
}
#produtos #produtos-content .btn-primary {
  position: absolute;
  bottom: 0;
}

#blog {
  padding-top: 30px;
}
#blog #blog-header {
  margin-bottom: 30px;
}
#blog .post {
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-right: 20px;
}
#blog .post:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
#blog .titulo-blog {
  color: #261e4c;
  font-size: 22px;
  margin: 0 0px 6px 0px;
}
#blog .fa-comments {
  color: #eeb313;
}
#blog .fa-tags {
  color: #eeb313;
}
#blog span {
  font-weight: 500;
}
#blog .post-social .date {
  font-size: 13px;
  text-align: center;
  width: 58px;
  height: 50px;
  padding-top: 4px;
  color: #FFF;
  background-color: #eeb313;
  -moz-border-radius: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
#blog .post-social .like {
  width: 58px;
  height: 38px;
  padding-top: 8px;
  color: #261e4c;
  text-align: center;
  font-weight: bold;
  background-color: #FFF;
}
#blog .post-social .icons {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  width: 58px;
  height: 156px;
  padding-top: 16px;
  background-color: #261e4c;
}
#blog .post-social .icons:before {
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: -20px;
  margin-left: 22px;
  background-color: #261e4c;
}
#blog .post-social .icons a {
  display: block;
  color: #FFF;
  text-align: center;
}
#blog .post-social .icons a:hover {
  color: #eeb313;
}
#blog .post-social .icons .fa {
  margin-bottom: 10px;
}
#blog article img.thumb {
  width: 100%;
  margin-bottom: 22px;
  border-radius: 5px;
  border: 1px solid #CCC;
}
#blog article p {
  margin-bottom: 30px;
}
#blog article h2 {
  font-size: 17px;
  color: #261e4c;
}
#blog article .extra {
  margin-bottom: 28px;
}
#blog article .alignleft {
  float: left;
  margin: 10px 10px 10px 0;
}
#blog article .alignright {
  float: right;
  margin: 10px 0 10px 10px;
}

#blog-sidebar input[type=text], #catalogo input[type=text] {
  margin-bottom: 24px;
}
#blog-sidebar .search-wrap input, #catalogo .search-wrap input {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
}
#blog-sidebar .btn-primary, #catalogo .btn-primary {
  color: #FFF;
}
#blog-sidebar h4, #catalogo h4 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 12px;
}
#blog-sidebar .date, #catalogo .date {
  display: block;
  color: #999;
  margin-bottom: 12px;
}
#blog-sidebar .comments, #catalogo .comments {
  display: block;
  margin-bottom: 12px;
}
#blog-sidebar .comments .fa, #catalogo .comments .fa {
  color: #b1b1b1;
}
#blog-sidebar .recente, #catalogo .recente {
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

#blog-content .more {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-top: 40px;
}
#blog-content .more .fa {
  margin-left: 8px;
}

#links-rodape {
  padding: 52px 0px 52px 0px;
  margin-top: 108px;
  background-color: #261e4c;
}
#links-rodape .logo-iso-9001 {
  text-align: center;
  color: #b1b1b1;
  margin-top: -50px;
}
#links-rodape .logo-iso-9001 .help-block {
  color: #b1b1b1;
}
#links-rodape .logo-iso-9001:hover {
  text-decoration: none;
  color: #eeb313;
}
#links-rodape .logo-iso-9001:hover .help-block {
  color: #eeb313;
}
#links-rodape .logo-iso-9001 img {
  width: 60px;
  display: block;
  margin: 0 auto;
}
#links-rodape ul {
  list-style: none;
  padding: 0px;
  margin: 28px 0px;
}
#links-rodape ul li {
  line-height: 28px;
}
#links-rodape ul li a {
  color: #FFF;
  margin-bottom: 20px;
  text-transform: none;
  font-size: 12px;
}
#links-rodape p {
  margin: 40px 0px 40px 0px;
}
#links-rodape .endereco {
  color: #cccccc;
  margin-bottom: 20px;
}
#links-rodape .phone a {
  color: #FFF;
}
#links-rodape .phone .fa, #links-rodape .fax .fa, #links-rodape .email .fa {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  padding: 8px;
  margin-right: 8px;
  color: #FFF;
  margin-bottom: 14px;
  border: 1px solid #b1b1b1;
}
#links-rodape .email {
  color: #CCC;
  margin-bottom: 48px;
}
#links-rodape .email a {
  color: #FFF;
  text-decoration: none;
}
#links-rodape .email a:hover {
  color: #eeb313;
}
#links-rodape .social-links .fa {
  margin-right: 24px;
}

#copyright {
  padding: 0;
  background-color: #060606;
  height: 42px;
  line-height: 42px;
}
#copyright div {
  text-transform: none;
  font-size: 11px;
  color: #6D6B71;
}

.cidade {
  width: 100%;
  height: 155px;
  border-bottom: solid 12px #eeb313;
  background: url("../img/cidade.jpg") no-repeat;
}

.icon-cart {
  display: block;
  background: url(../img/cart.png) no-repeat;
  width: 39px;
  height: 41px;
  margin-top: -10px;
}

.icon-search {
  display: block;
  background: url(../img/search.png) no-repeat;
  width: 34px;
  height: 39px;
  margin-top: -14px;
}

#banner {
  margin-top: 118px;
}
#banner .titulo-banner {
  color: #FFF;
  position: relative;
  font-size: 34px;
  line-height: 45px;
  font-weight: bold;
}
#banner .titulo-banner small {
  display: block;
  color: #EDC221;
}
#banner .titulo-banner span {
  position: relative;
  z-index: 1;
}
#banner .titulo-banner.small-font {
  font-size: 29px;
  line-height: 29px;
}
#banner h2 {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
}
#banner .produto {
  width: 100%;
  height: 300px;
  padding-top: 170px;
  background: url("../img/img-topo-paginas-internas.jpg") no-repeat;
  background-size: cover;
}
#banner .sobre {
  width: 100%;
  height: 300px;
  padding-top: 170px;
  background: url("../img/background-sobre-nos.jpg");
}
#banner .blog {
  width: 100%;
  height: 300px;
  padding-top: 104px;
  background: url("../img/background-blog.jpg");
}
#banner .blog .titulo-blog {
  color: #261e4c;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
#banner .blog h2 {
  color: #FFF;
  text-align: center;
  padding-left: 0px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
}
#banner.search-page {
  margin-bottom: 30px;
}

#sidebar-produto {
  padding-top: 38px;
}
#sidebar-produto #galeria .big {
  width: 100%;
  height: 300px;
  background-color: #FFF;
  position: relative;
}
#sidebar-produto #galeria .big *:not(img) {
  height: 100%;
}
#sidebar-produto #galeria .big img {
  margin: 0 auto;
}
#sidebar-produto #galeria .big .item {
  display: table;
  width: 100%;
}
#sidebar-produto #galeria .big .item a {
  display: table-cell;
  vertical-align: middle;
}
#sidebar-produto #galeria #sync2 .owl-item {
  margin-right: 15px;
}
#sidebar-produto #galeria #sync2 .owl-item:last-child {
  margin-right: 0;
}
#sidebar-produto #galeria .thumb {
  float: left;
  margin-top: 16px;
  width: 120px;
  height: 60px;
  background-color: #FFF;
  border: 1px solid #CCC;
  cursor: pointer;
  opacity: 0.8;
}
#sidebar-produto #galeria .thumb.active {
  opacity: 1;
}
#sidebar-produto #galeria .thumb:hover {
  opacity: 1;
}

.galeria-sobre {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 18px;
}
.galeria-sobre .thumb {
  float: left;
  width: 162px;
  height: 122px;
  margin-bottom: 8px;
  margin-right: 14px;
  background-color: #b1b1b1;
}

.breadcrumb {
  position: absolute;
  background: none;
  margin-top: -30px;
  width: 100%;
  text-align: center;
}
.breadcrumb ol {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  padding: 12px 34px 12px 34px;
  list-style: none;
  display: inline-block;
  background-color: #261e4c;
}
.breadcrumb ol li {
  display: inline;
}
.breadcrumb ol li:not(:last-child):after {
  content: '/';
  margin: 0 5px;
}
.breadcrumb ol li a:hover {
  color: #eeb313;
  text-decoration: none;
}
.breadcrumb ol li:last-child a {
  color: #eeb313;
}

.social-minibox {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  float: left;
  width: 85px;
  height: 115px;
  margin: 30px 8px 0px 0px;
  padding: 20px 4px 20px 4px;
  border: 1px solid #ebebeb;
  cursor: pointer;
}
.social-minibox .fa {
  display: block;
  color: #eeb313;
  font-size: 30px;
  margin-bottom: 12px;
}
.social-minibox .likes-number {
  display: block;
  color: #b1b1b1;
}
.social-minibox .likes-label {
  display: block;
  font-size: 12px;
  color: #261e4c;
}
.social-minibox:hover {
  background-color: #261e4c;
}
.social-minibox:hover .likes-label {
  color: #FFF;
}

.paginacao span.current {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  margin-right: 2px;
  line-height: 40px;
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #eeb313;
  background-color: #261e4c;
}
.paginacao a {
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  line-height: 40px;
  height: 40px;
  margin-right: 2px;
  color: #261e4c;
  background-color: #ebebeb;
}
.paginacao a.prev, .paginacao a.next {
  font-size: 10px;
}
.paginacao a:hover {
  text-decoration: none;
  color: #eeb313;
  background-color: #261e4c;
}
.paginacao a.active {
  color: #eeb313;
  background-color: #261e4c;
}

.clientes .cliente img {
  display: block;
  margin: 0 auto;
}

/* CATEGORIAS */
.cat-list {
  list-style: none;
  padding: 0px;
}
.cat-list li a {
  color: #261e4c;
}
.cat-list li a .nix-checkbox {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.cat-list li a .nix-checkbox span {
  position: absolute;
  right: 0;
  margin-top: -30px;
}
.cat-list li a .nix-checkbox .number {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  font-size: 12px;
  width: 48px;
  text-align: center;
  padding: 2px 14px 2px 14px;
  border: 1px solid #b1b1b1;
}
.cat-list li a .nix-checkbox label {
  font-weight: 600;
  position: relative;
  display: block;
  padding: 10px 10px 10px 25px;
  cursor: pointer;
  -webkit-transition: background .25s ease-in;
  transition: background .25s ease-in;
}
.cat-list li a .nix-checkbox label:before {
  content: "\e013";
  border-radius: 4px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid #d2d3d5;
  position: absolute;
  background: #fff;
  left: 0;
  top: 11px;
  cursor: pointer;
  font-size: 8px;
  height: 16px;
  min-height: 0;
  min-width: 0;
  padding: 3px;
  text-align: center;
  transition: all .25s ease-in;
  -webkit-transition: all .25s ease-in;
  width: 16px;
  color: #fff;
}
.cat-list li a:hover label:before {
  background-color: #eeb313;
  border: 0;
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
  header #top-menu {
    position: inherit;
  }
  header #top-menu a:hover:before {
    display: none;
  }
  header #top-menu a:hover:after {
    display: none;
  }

  div#myNavbar {
    border: none;
  }

  #banner {
    margin-top: 0;
  }
  #banner .produto {
    padding-top: 120px;
  }
  #banner .titulo-banner {
    text-align: center;
    padding-left: 0;
  }
  #banner h2 {
    padding-left: 0;
    text-align: center;
  }
}
.owl-controls .owl-buttons {
  top: 45%;
  position: absolute;
  width: 100%;
}
.owl-controls .owl-buttons div {
  border-radius: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
}
.owl-controls .owl-buttons .owl-prev {
  position: absolute;
  left: 0;
}
.owl-controls .owl-buttons .owl-next {
  position: absolute;
  right: 0;
}

/* === Pagination === */
.navigation {
  clear: both;
}

.navigation ul {
  padding: 0;
  text-align: center;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  color: #fff;
  text-decoration: none;
}

.navigation li {
  display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  background-color: #261e4c;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  padding: 12px;
  padding: 0.75rem;
}

.navigation li a:hover,
.navigation li.active a {
  background-color: #eeb313;
}

.file-list {
  list-style: none;
  padding: 0;
}
.file-list li {
  background-color: #e4e4e4;
  border-radius: 15px;
  color: #666;
  padding: 10px;
  margin: 0 0 5px 0;
}
.file-list li:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("img/icon_pdf.png");
}
.file-list li a {
  font-size: 14px;
  color: #a6462c;
  font-family: 'PT Sans',sans-serif;
  font-weight: 400;
  text-decoration: none;
}

@media only screen and (max-width: 320px) {
  header #top-menu {
    position: inherit;
    border: none;
  }
  header #top-menu a:hover:before {
    display: none;
  }
  header #top-menu a:hover:after {
    display: none;
  }

  div#myNavbar {
    border: none;
  }

  #banner {
    margin-top: 0px;
  }
  #banner .produto {
    padding-top: 60px;
  }
  #banner .titulo-banner {
    text-align: center;
    padding-left: 0px;
  }
  #banner .titulo-banner:before {
    display: none;
  }
  #banner h2 {
    padding-left: 0px;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .tab-content > .active {
    height: 100%;
  }

  .thumbnail-height {
    height: 350px;
  }

  #sidebar-produto #galeria .big {
    height: auto;
  }

  #produtos #produtos-content {
    background: none;
  }
  #produtos #produtos-content .featured {
    display: none;
  }

  body {
    background: #ddd;
    color: #5a5350;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  html, body, .perspective {
    width: 100%;
    height: 100%;
  }

  .perspective {
    background: #aaa;
    position: relative;
  }

  .main-container {
    background: #fff;
    min-height: 100%;
    position: relative;
    outline: 1px solid transparent;
    z-index: 10;
    -webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
    /* reset transforms (Chrome bug) */
    transform: translateZ(0) translateX(0) rotateY(0deg);
  }

  .main-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    /* the transition delay of the height needs to be synced with the container transition time */
    -webkit-transition: opacity 0.4s, height 0s 0.4s;
    transition: opacity 0.4s, height 0s 0.4s;
  }

  .modal-open .main-container {
    z-index: inherit;
    transform: inherit;
    -webkit-transform: inherit;
  }

  .wrapper {
    position: relative;
  }

  .component {
    margin: 0 auto;
    width: 60%;
    text-align: justify;
    font-size: 1.5em;
  }

  /* Modal view */
  .perspective.modalview {
    position: fixed;
    -webkit-perspective: 1500px;
    perspective: 1500px;
  }

  .modalview .main-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .modalview .wrapper {
    -webkit-transform: translateZ(-1px);
    /* solves a rendering bug in Chrome on Windows */
  }

  .animate .main-container::after {
    opacity: 1;
    height: 101%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .outer-nav {
    position: absolute;
    height: auto;
    font-size: 2em;
  }

  .outer-nav.vertical {
    top: 45%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    font-size: 19px;
  }

  .outer-nav.left {
    left: 20%;
    padding: 0;
    list-style: none;
  }

  .outer-nav li ul {
    padding-left: 10px;
    list-style: none;
  }

  .outer-nav a {
    display: inline-block;
    white-space: nowrap;
    font-weight: 300;
    margin: 0 0 17px;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }

  .outer-nav a:hover {
    color: #ffdccd;
  }

  .outer-nav li {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .outer-nav.vertical a {
    display: block;
  }

  .outer-nav.horizontal a {
    margin: 15px 20px;
  }

  /* Effect airbnb */
  .effect-airbnb {
    background: #b8b6b4;
  }

  .effect-airbnb .main-container {
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  .effect-airbnb.animate .main-container {
    -webkit-transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
    transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
  }

  .no-csstransforms3d .effect-airbnb.animate .main-container {
    left: 75%;
  }

  .effect-airbnb .outer-nav li {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
  }

  .effect-airbnb.animate .outer-nav li {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .effect-airbnb.animate .outer-nav li:nth-child(2) {
    -webkit-transition-delay: 0.04s;
    transition-delay: 0.04s;
  }

  .effect-airbnb.animate .outer-nav li:nth-child(3) {
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
  }

  .effect-airbnb.animate .outer-nav li:nth-child(4) {
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s;
  }

  .effect-airbnb.animate .outer-nav li:nth-child(5) {
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s;
  }

  .effect-airbnb.animate .outer-nav li:nth-child(6) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  .effect-airbnb.animate .outer-nav li:nth-child(7) {
    -webkit-transition-delay: 0.24s;
    transition-delay: 0.24s;
  }

  .txt-hero {
    padding: 0;
  }

  #produtos #lista-produtos li.active .blue-icon {
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  .outer-nav {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  #blog-content {
    padding-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
