/*
    Created on : 10/08/2015, 12:21:32
    Author     : Adam Silva - Agência 3xceler
*/

/* Mixins */
@mixin rotate($deg){
  -ms-transform: rotate($deg); /* IE 9 */
  -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
  transform: rotate($deg);
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/* Atributos */

$cinza: #b1b1b1;
$cinza-claro: #ebebeb;
$cinza-escuro: #2d2d2d;
$azul: #261e4c;
$amarelo: #eeb313;
$branco: #FFF;

$ubunto: 'Ubuntu', sans-serif;

.light{color: $branco;}
.gray{color: $cinza;}
.dark{color: #000;}
.uppercase{text-transform: uppercase;}
.gigant{font-size: 40px;}
.big{font-size: 18px;}
.medium{font-size: 14px;}
.regular{font-size: 13px;}
.small{font-size: 12px;}
.negrito{font-weight: bold;}
.bg-dark{background-color: $cinza-escuro;}
.bg-blue{background-color: $azul;}
.marginT30{margin-top:30px;}
.marginT62{margin-top:62px;}
.marginB62{margin-bottom:62px;}
.marginL20{margin-left:20px;}
.noMarginT{margin-top:0px !important;}
.center{text-align: center;}
.txt-hero{padding: 20px 40px 20px 40px;}
.transparent-blue{
  background: -moz-linear-gradient(top,  rgba(38,30,76,0.9) 0%, rgba(38,30,76,0.9) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,30,76,0.9)), color-stop(100%,rgba(38,30,76,0.7))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(38,30,76,0.9) 0%,rgba(38,30,76,0.9) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(38,30,76,0.9) 0%,rgba(38,30,76,0.9) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(38,30,76,0.9) 0%,rgba(38,30,76,0.9) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(38,30,76,0.9) 0%,rgba(38,30,76,0.9) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3261e4c', endColorstr='#b3261e4c',GradientType=0 ); /* IE6-9 */
}
.transparent-light-blue{
  background: -moz-linear-gradient(top,  rgba(38,30,76,0.5) 0%, rgba(38,30,76,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,30,76,0.5)), color-stop(100%,rgba(38,30,76,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(38,30,76,0.7) 0%,rgba(38,30,76,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(38,30,76,0.5) 0%,rgba(38,30,76,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(38,30,76,0.5) 0%,rgba(38,30,76,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(38,30,76,0.5) 0%,rgba(38,30,76,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3261e4c', endColorstr='#b3261e4c',GradientType=0 ); /* IE6-9 */
}
.btn-default{
  color: $azul;
  text-align: center;
  font-size: 14px;
}
.btn-cancel {
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 700;
}
.btn-primary{
  padding: 12px 26px 12px 26px;
  color: $azul;
  background-color: $amarelo;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;

  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;

  &:hover, &:focus {
    color: $amarelo;
    background: #261E4C !important;
  }

  &.inverted{
    color: $branco;
  }
}
.btn-secondary{
  padding: 12px 26px 12px 26px;
  color: $branco;
  background-color: $azul;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;

  &:hover{
    color: $azul;
    background-color: $amarelo;
  }
  &.narrow{
    height: 32px;
    padding-top: 6px;
    font-weight: 400;
  }

  &.btn-inverted {
    background-color: $amarelo;

    &:hover {
      color: #FFF;
      background-color: $azul;
    }
  }
}
.btn-search{
  position: absolute;
  right: 0;
  margin-right: 4px;
  margin-top: -52px;
  background: none;
  border: none;
}
.blue-icon{
  @include border-radius(6px);
  overflow: hidden;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin-bottom: 8px;
  color: $amarelo;
  background-color: $azul;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.service-item {
  margin-bottom: 15px;
  position: relative;

  .service-title {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.76);
    width: 100%;
    color: #FFF;
    text-decoration: none;
    -webkit-transition: ease .2s;
    -moz-transition: ease .2s;
    -ms-transition: ease .2s;
    -o-transition: ease .2s;
    transition: ease .2s;
  }

  &:hover{
    .service-title{
      color: yellow;
    }
  }

  @media only screen and (max-width: 768px){
    .service-thumbnail {
      img {
        width: 100%;
      }
    }
  }
}

.thumbnail-height {
  height:302px;
}

.active .blue-icon{
  @include border-radius(6px);
  width: 45px;
  height: 45px;
  color: $azul;
  background-color: #373737;
}
.link-cinza{
  color: $cinza;
  &:hover{
    color: $amarelo;
  }
}
.link-branco{
  color: $branco;
  &:hover{
    color: $cinza;
  }
}
.link-amarelo{
  color: $amarelo;
  &:hover{
    color: $azul;
  }
}
.link-azul{
  color: $azul;
  &:hover{
    color: $amarelo;
  }
}
.link-box {
  &:hover{
    color: $amarelo;

    &::before{
      content: "";
      position: absolute;
      left: -6px;
      margin-top: -8px;
      height: 11px;
      width: 11px;
      background: url(../img/hover-menu.png);
    }

    &::after{
      content: "";
      position: absolute;
      right: -6px;
      bottom: 2px;
      height: 11px;
      width: 11px;
      background: url(../img/hover-menu.png);
      @include rotate(180deg);
    }
  }
}
.left-borderY{
  &:before{
    content: "";
    position: absolute;
    margin-left: -18px;
    width: 4px;
    height: 20px;
    background-color: $amarelo;
  }
}
.img-artigo{
  padding: 42px 42px 42px 32px;
}

body{
  color: $cinza;
  font-family: $ubunto;
}

.titulao {color: #FFF; background: #FFF; }
.titulo{
  @extend .left-borderY;
  @extend .uppercase;
  padding-left: 20px;
  color: $azul;
  font-size: 20px;
  font-weight: 500;
}
.titulo-yellow{
  @extend .uppercase;
  color: $amarelo;
  font-size: 22px;
  font-weight: 500;
}
.titulo-branco{
  @extend .uppercase;
  color: $branco;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid $cinza;

  &:before{
    @include border-radius(12px);
    content: "";
    position: absolute;
    margin-top: 34px;
    width: 50px;
    height: 3px;
    background-color: $amarelo;
  }
}
.titulo-big{
  @extend .uppercase;
  position: relative;
  text-align: center;
  color: $azul;
  font-size: 35px;
  font-weight: 300;
  line-height: 40px;

  span{
    background: $branco;
    position: relative;
    z-index: 1;
  }

  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    height: 19px;
    background: url('../img/border.jpg');
  }
}

.paragrafo{
  font-size: 14px;
  color: $cinza;
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: justify;
}
.artigo{
  margin-bottom: 72px;
}

/* Objetos */
header {

  #top-info{
    min-height: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #2d2d2d;
    position: relative;
    z-index: 1001;

    .inline-block {
      display: inline-block;
    }

    .icon {
      margin-right: 5px;
    }

    .fa{
      &.gigant{
        font-size: 40px;
      }
    }
    #social{
      padding-top: 12px;

      a:hover{
        .fa{
          color: $amarelo;
        }
      }

      .fa{
        font-size: 14px;
        margin-right: 12px;
      }
    }
  }
  #top-menu{
    @extend .bg-blue;
    @extend .transparent-blue;
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 118px;
    border: none;
    border-radius: 0px;
      #myNavbar{
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;

      }

    ul.navbar-nav {
      > li{
        height: 118px;
        line-height: 117px;

        a{
          @extend .medium;
          @extend .negrito;
          @extend .uppercase;
          color: $branco;
          margin-right: 8px;
          vertical-align: middle;
        }
        > a {
          @extend .link-box;
          display: inline-block;
        }

        // Extends
        &.open > a, &.active > a {
          background: none;
          color: $amarelo;
        }
        &:hover {
          ul {
            display: block;
          }
        }
        &.sub-menu-columns {
          ul {
            @extend .transparent-blue;
            right: inherit;
            width: 344px;
            border: 0;
            border-top: 3px solid #EEB313;
            border-radius: 0;
            padding-top: 20px;
            padding-bottom: 20px;

            > li {
              display: inline-block;
              float: left;
              width: 50%;
              margin: 7px 0;

              &:nth-child(odd) {
                float: left;
              }
              &:nth-child(even) {
                float: right;
              }

              > a {
                font-size: 11px;
                font-weight: 400;

                &:hover {
                  background: none;
                  color: $amarelo;

                }
              }
              &.active {
                a {
                  background: transparent;
                }
              }
            }
          }

        }

        &.dropdown {
          ul {
            @extend .transparent-blue;
            right: inherit;
            border: 0;
            border-top: 3px solid #EEB313;
            border-radius: 0;
            padding-top: 20px;
            padding-bottom: 20px;

            > li {
              display: block;
              margin: 7px 0;

              > a {
                font-size: 11px;
                font-weight: 400;

                &:hover {
                  background: none;
                  color: $amarelo;

                }
              }
              &.active {
                a {
                  background: transparent;
                }
              }
            }
          }
        }

        // Child
        .caret {display: none;}

        .cart-count {
          background-color: #EEB313;
          padding: 2px 5px;
          color: #FFF;
          border-radius: 5px;
          position: absolute;
          top: 0;
          right: 8px;
        }

      }

    }

    .navbar-header {
      height: 118px;
      line-height: 113px;

      .navbar-toggle {
        margin-top: 41px;
        border-color: transparent;

        &:hover{
          background: none;
        }

        .icon-bar {
          background-color: #EEB313;
        }
      }

      a {
        float:none;
        height: auto;
        display: inline-block;
        vertical-align: middle;
      }
    }

    &.interna{
      background-color: $azul;
    }
  }

  #menu-wrap {
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: ease;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);

    #desktop-menu-wrap{
      height: auto;

      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
    }

    #search-wrap {
      position:relative;
      line-height: 113px;
      overflow: hidden;

      max-height: 200px;
      height: 0;

      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;

      input[type="search"]{
        background-color: transparent;
        border: 0;
        height: 100%;
        font-size: 30px;
        font-weight: 700;
        color: #FFF;
        width: 100%;
        padding-right: 73px;
      }
      input[type="search"]:focus{outline: 0;}
      input[type="search"]::-webkit-input-placeholder {
        color: #FFF;
      }
      input[type="search"]:-moz-placeholder { /* Firefox 18- */
        color: #FFF;
      }
      input[type="search"]::-moz-placeholder {
        /* Firefox 19+ */
        color: #FFF;
      }
      input[type="search"]:-ms-input-placeholder {
        color: #FFF;
      }

      .icon-search {
        position: absolute;
        top: 50px;
        right: 50px;
        cursor: pointer;
      }
    }

    &.active {
      -webkit-transform: translateY(-118px);
      -ms-transform:translateY(-118px);
      transform: translateY(-118px);

      #search-wrap {
        height: 118px;
      }

      #desktop-menu-wrap {
        overflow: hidden;
        opacity: 0;
      }

      #myNavbar {opacity: 0;}

      .icon-search {
        background: url('../img/searchactive.png') no-repeat;
      }
    }
  }
}
#slider{
  position: relative;
  z-index: 0;

  .after {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @extend .transparent-light-blue;
  }
  .carousel-caption{
    position: absolute;
    z-index: 200;
    right: 0;
    left: 0;
    top:160px;
  }
  .carousel-control{
    z-index: 5000;
  }
  h2{
    @extend .uppercase;
    @extend .negrito;
    font-size: 50px;
    color: $branco;
  }
  p{
    @extend .uppercase;
    font-size: 22px;
    font-style: italic;
    color: $branco;
  }
  ul{
    margin-top: 20px;
    list-style: none;

    li{
      display: inline;
      margin-right: 90px;
      color: $amarelo;
      font-size: 14px;

      &:before{
        content: "";
        position: absolute;
        margin-left: -32px;
        margin-top: -4px;
        background:url('../img/icon-check.png');
        width: 27px;
        height: 30px;
      }
    }
  }
  .arrow-down{
    @extend .transparent-blue;
    position: absolute;
    z-index: 600;
    margin-top:-80px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 45px;
    color: $branco;
    padding-top: 14px;
    text-align: center;
  }
}

#content{
  h3{
    font-size: 15px;
  }
  .guindaste{
    width: 100%;
    height: 444px;
    background: url('../img/guindaste.jpg') no-repeat;
    background-position: center -70px;
    background-size: 35%;
  }

  #sobre{
    padding-top: 38px;
  }

  #clientes-right{
    position: absolute;
    right: 0px;
    margin-top: -40px;
  }
  #tabela-produtos{
    @include border-radius(8px);
    width: calc(100% - 2px);
    margin-top: 30px;
    border: 1px solid #CCC;
    // padding-left: 132px;

    overflow-x:scroll;
    overflow-y:visible;
    padding-bottom:1px;

    table {
      width: 100%;

      thead {
        tr {
          border-bottom: 1px solid #CCC;
          td{
            padding: 5px 10px;
            //border-right: 1px solid #e1e1e1;
            font-weight: 700;
            text-align: center;

            margin:0;
            border-top-width:0;
            white-space:normal;

            &:last-child {
              border-right: 0;
            }

            &.headcol {
              border-bottom: 1px solid #CCC;
              // height: 31px;
              border-radius: 9px 0 0 0;
            }
          }
        }
      }
      tbody {
        tr {
          td{
            text-align: center;
            padding: 5px;
          }
        }
      }
      td {
        white-space: normal;

        &.headcol {
          // position: absolute;
          // width: 132px;
          // height: 44px;
          // left: 16px;
          // top: auto;
          // line-height: 19px;
          // display: table;
          // background: #FFF;
          padding: 10px 15px;
          border-right: 1px solid #CCC;

          span {
            display: table-cell;
            vertical-align: middle;
          }
        }

      }
    }
    .btn{
      margin-top: 15px;
    }
  }

  // Orçamento Area
  .thead {
    padding: 7px;
    background-color: #3B345E;
    display: inline-block;
    color: #FFF;
    font-weight: 700;
    border-radius: 5px 5px 0 0;
  }
  .tabela-orcamento {
    border: 1px solid rgba(59,52,94,.16);
    margin-bottom: 15px;

    thead {
      background-color: #3B345E;
      color: #FFF;
      tr{
        th{
          padding: 5px;
          font-weight: 400;
        }
      }
    }
    tbody {
      tr {

        &:not(:last-child){ border-bottom: 1px solid rgba(59, 52, 94, 0.16); }

        td{
          padding: 5px;

          .btn-link{
            color: #3B345E;
          }

          &:last-child {text-align: center;}
        }
      }
    }
    .form-group {
      margin-bottom: 0;

      .input-group-addon {
        padding: 0;
      }
    }
  }
  .b-add-orcamento {margin-right: 5px;}

  #historia{
    p{
      &:first-of-type:first-letter{
        @include border-radius(4px);
        @extend .uppercase;
        color: $branco;
        background-color: $amarelo;
        font-size: 36px;
        padding: 2px 8px 2px 8px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.aplicacoes-page {
  .aplicacao {
    height: 139px;
    margin-bottom: 60px;
    padding-left: 163px;

    .thumbnail-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border: 1px solid;
    }
    .aplicacao-thumbnail {
      width: 100%;
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }
    .aplicacao-header {
      position: relative;

      .blue-icon {
        position: absolute;
        left:     0;
        top:      0;
      }
      .aplicacao-title {
        color:      #eeb313;
        text-align: left;
        font-size:  16px;
        margin-top: 0;
        padding-top:0;
      }
    }

    .apli-info {
      text-align: left;
      width: 100%
    }

    .btn {
      //position: relative;
    }

    &:before{
      content: '';
      display: block;
      background: #FFF;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 32px;
    }
  }
}

.aplicacao{
  height:     208px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;

  .apli-info{
    width: 244px;
    text-align: center;
    margin: 0 auto;
  }
  h3{
    @extend .uppercase;
    color: $amarelo;
    font-size: 16px;
    margin-top: 0;
    padding-top: 0;
  }
  p{font-size: 14px;}
  .btn {
    position: absolute;
    bottom: 0;
  }

  .btn-inhome {
    border: 0;
    padding: 7px 20px;
    border-radius: 5px;
    color: #261E4C;

    display: inline-block;
    font-weight: bold;
    font-size: 14px;
  }
}

#aplicacoes {
  .aplicacao {
    margin-top: 35px;
    height: 221px;
  }
}

.map {
  margin-top: 38px;
}

#produtos{
  padding-top: 39px;

  .legend-icon {
    font-size: 10px;
    line-height: 10px;
    color: #0F194C;
    display: block;
    font-weight: bold;
    text-align: center;


  }
  #lista-produtos{
    list-style: none;
    padding:0;
    text-align: center;

    li{
      vertical-align: top;
      display: inline-block;
      width: 68px;
      margin: 0 5px;

      min-height: 75px;
      margin-bottom: 15px;

      &.active {
        .blue-icon {
          opacity: 0.5;
        }
      }

      a {
        position: relative;
        text-decoration: none;
        display: block;
      }
    }
  }
  #produtos-content{
    clear: both;
    min-height: 350px;
    //background: url('../img/corrente-aco.jpg') no-repeat;
    //background-position: top right;

    .featured {
      border-radius: 6px;
    }

    .titulo-yellow {
      margin-top: 0;
    }

    .btn-primary {
      position: absolute;
      bottom: 0;
    }
  }
}

#blog{
  padding-top:30px;

  #blog-header{
    margin-bottom: 30px;
  }

  .post{
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-right: 20px;

    &:not(:last-child){
      border-bottom: 1px solid #ebebeb;
    }
  }
  .titulo-blog{
    color: $azul;
    @extend .uppercase;
    font-size: 22px;
    margin: 0 0px 6px 0px;
  }
  .fa-comments{
    color: $amarelo;
  }
  .fa-tags{
    color: $amarelo;
  }
  span{
    font-weight: 500;
  }
  .post-social{
    .date{
      @extend .uppercase;
      font-size: 13px;
      text-align: center;
      width: 58px;
      height: 50px;
      padding-top: 4px;
      color: $branco;
      background-color: $amarelo;
      -moz-border-radius: 0px;
      -webkit-border-radius: 4px 4px 0px 0px;
      border-radius: 4px 4px 0px 0px;
    }
    .like{
      @extend .uppercase;
      width: 58px;
      height: 38px;
      padding-top: 8px;
      color: $azul;
      text-align: center;
      font-weight: bold;
      background-color: $branco;
    }
    .icons{

      &:before{
        @include rotate(45deg);
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        margin-top: -20px;
        margin-left: 22px;
        background-color: $azul;
      }

      @include border-radius(4px);
      width: 58px;
      height: 156px;
      padding-top: 16px;
      background-color: $azul;
      a{
        display: block;
        color: $branco;
        text-align: center;

        &:hover {
          color: $amarelo;
        }
      }
      .fa{
        margin-bottom: 10px;
      }
    }
  }

  article {
    img.thumb {
      width: 100%;
      margin-bottom: 22px;
      border-radius: 5px;

      border: 1px solid #CCC;
    }
    p{
      margin-bottom: 30px;
    }

    h2 {
      font-size: 17px;
      color:#261e4c;
    }

    .extra {
      margin-bottom: 28px;
    }
    .alignleft {
      float:left;
      margin: 10px 10px 10px 0;
    }
    .alignright {
      float:right;
      margin: 10px 0 10px 10px;
    }
  }
}

#blog-sidebar{
  input[type=text]{
    margin-bottom: 24px;
  }
  .search-wrap input  {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .btn-primary{
    color: $branco;
  }
  h4{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 12px;

    a{
      @extend .link-amarelo;
    }
  }
  .date{
    display: block;
    color: #999;
    margin-bottom: 12px;
  }
  .comments{
    display: block;
    margin-bottom: 12px;

    .fa{
      color: $cinza;
    }
  }
  .recente{
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
  }
}
#blog-content{
  .more{
    @extend .uppercase;
    @extend .link-azul;
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-top: 40px;

    .fa{
      margin-left: 8px;
    }
  }
}
#links-rodape{
  padding: 52px 0px 52px 0px;
  margin-top: 108px;
  background-color: $azul;
  .logo-iso-9001{
    text-align: center;
    color: $cinza;
    margin-top: -50px;

    .help-block{
      color: $cinza;
    }
    &:hover{
      text-decoration: none;
      color: $amarelo;
      .help-block{
        color: $amarelo;
      }
    }
    img{
      width: 60px;
      display: block;
      margin: 0 auto;
    }
  }
  ul{
    list-style: none;
    padding: 0px;
    margin: 28px 0px;

    li{
      line-height: 28px;

      a{
        @extend .uppercase;
        color: $branco;
        margin-bottom: 20px;
        text-transform: none;
        font-size: 12px;
      }
    }
  }
  p{
    margin: 40px 0px 40px 0px;
  }
  .endereco{
    @extend .negrito;
    color: #cccccc;
    margin-bottom: 20px;
  }
  .phone {
    a {
      color: #FFF;
    }
  }
  .phone, .fax, .email{
    .fa{
      @include border-radius(6px);
      padding: 8px;
      margin-right: 8px;
      color: #FFF;

      margin-bottom: 14px;
      border: 1px solid $cinza;
    }
  }
  .email{
    color: #CCC;
    margin-bottom: 48px;

    a {
      color:#FFF;
      text-decoration: none;
      &:hover {
        color: $amarelo;
      }
    }
  }
  .social-links{
    .fa{
      margin-right: 24px;
    }
    a{
      @extend .link-cinza;
    }
  }
}
#copyright{
  padding: 0;
  background-color: #060606;
  height: 42px;
  line-height: 42px;

  div {
    text-transform: none;
    font-size: 11px;
    color: #6D6B71;
  }
}

.cidade{
  @extend .marginT62;
  width: 100%;
  height: 155px;
  border-bottom: solid 12px $amarelo;
  background: url('../img/cidade.jpg') no-repeat;
}

.icon-cart{
  display: block;
  background: url(../img/cart.png) no-repeat;
  width: 39px;
  height: 41px;
  margin-top: -10px;
}
.icon-search{
  display: block;
  background: url(../img/search.png) no-repeat;
  width: 34px;
  height: 39px;
  margin-top: -14px;
}
#banner{
  margin-top: 118px;

  .titulo-banner{
    @extend .uppercase;
    color: #FFF;
    position: relative;
    font-size: 34px;
    line-height: 45px;
    font-weight: bold;

    small {
      display: block;
      color: #EDC221;
    }

    span{
      position: relative;
      z-index: 1;
    }

    &.small-font {
      font-size: 29px;
      line-height:29px;
    }

  }

  h2{
    @extend .uppercase;
    color: $branco;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
  }

  .produto{
    width: 100%;
    height: 300px;
    padding-top: 170px;
    background: url('../img/img-topo-paginas-internas.jpg') no-repeat;
    background-size: cover;
  }
  .sobre{
    width: 100%;
    height: 300px;
    padding-top: 170px;
    background: url('../img/background-sobre-nos.jpg');
  }

  .blog{
    width: 100%;
    height: 300px;
    padding-top: 104px;
    background: url('../img/background-blog.jpg');

    .titulo-blog{
      @extend .uppercase;
      color: $azul;
      font-size: 34px;
      font-weight: bold;
      text-align: center;
    }

    h2{
      @extend .uppercase;
      color: $branco;
      text-align: center;
      padding-left: 0px;
      font-size: 16px;
      font-weight: 400;
      margin-top: 0px;
    }

  }


  &.search-page {
    margin-bottom:30px;
  }

}

#catalogo{
  @extend #blog-sidebar;
}

#sidebar-produto{
  padding-top: 38px;

  #galeria{
    .big{
      width: 100%;
      height: 300px;
      background-color: #FFF;
      //border: 1px solid #CCC;
      position: relative;
      *:not(img) {
        height:100%;
      }
      img {
        margin:0 auto;
      }

      .item {
        display: table;
        width: 100%;
        a {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    #sync2 {
      .owl-item {
        margin-right: 15px;
        &:last-child{margin-right: 0;}
      }
    }

    .thumb{
      float:left;
      margin-top: 16px;
      width: 120px;
      height: 60px;
      background-color: #FFF;
      border: 1px solid #CCC;
      cursor: pointer;
      opacity: 0.8;


      &.active{
        opacity: 1;
      }
      &:hover{
        opacity: 1;
      }
    }
  }
}

.galeria-sobre{
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 18px;

  .thumb{
    float: left;
    width: 162px;
    height: 122px;
    margin-bottom: 8px;
    margin-right: 14px;
    background-color: $cinza;
  }
}

.breadcrumb{
  position: absolute;
  background: none;
  margin-top: -30px;
  width: 100%;
  text-align: center;

  ol{
    @include border-radius(6px);
    padding: 12px 34px 12px 34px;
    list-style: none;
    display: inline-block;
    background-color: $azul;
    li{
      display: inline;

      &:not(:last-child):after{
        content: '/';
        margin: 0 5px;
      }
      a{
        @extend .link-branco;

        &:hover {
          color: $amarelo;
          text-decoration: none;
        }
      }

      &:last-child {
        a {
          color: $amarelo;

        }
      }
    }
  }

}
.social-minibox{
  @include border-radius(8px);
  text-align: center;
  float: left;
  width: 85px;
  height: 115px;
  margin: 30px 8px 0px 0px;
  padding: 20px 4px 20px 4px;
  border: 1px solid $cinza-claro;
  cursor: pointer;

  .fa{
    display: block;
    color: $amarelo;
    font-size: 30px;
    margin-bottom: 12px;
  }
  .likes-number{
    display: block;
    color: $cinza;
  }
  .likes-label{
    @extend .uppercase;
    display: block;
    font-size: 12px;
    color: $azul;
  }

  &:hover{
    background-color: $azul;

    .likes-label{
      color: $branco;
    }
  }
}

.paginacao{

  span.current {
    @include border-radius(6px);
    font-weight: bold;
    text-align: center;
    margin-right: 2px;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: $amarelo;
    background-color: $azul;
  }

  a{
    display: inline-block;
    @include border-radius(6px);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    line-height: 40px;
    height: 40px;
    margin-right: 2px;
    color: $azul;
    background-color: $cinza-claro;

    &.prev, &.next {
      font-size: 10px;
    }
    &:hover{
      text-decoration: none;
      color: $amarelo;
      background-color: $azul;
    }

    &.active{
      color: $amarelo;
      background-color: $azul;
    }
  }
}

.clientes {
  .cliente {
    img {
      display: block;
      margin:0 auto;
    }
  }
}

/* CATEGORIAS */
.cat-list{
  list-style: none;
  padding: 0px;

  li {

    a{
      color: $azul;

      .nix-checkbox {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;

        span {
          position: absolute;
          right: 0;
          margin-top: -30px;
        }

        .number{
          @include border-radius(12px);
          font-size: 12px;
          width: 48px;
          text-align: center;
          padding: 2px 14px 2px 14px;
          border: 1px solid $cinza;
        }

        label{
          font-weight: 600;
          position: relative;
          display: block;
          padding: 10px 10px 10px 25px;
          cursor: pointer;
          -webkit-transition: background .25s ease-in;
          transition: background .25s ease-in;

          &:before {
            content: "\e013";
            border-radius: 4px;

            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            border: 1px solid #d2d3d5;
            position: absolute;
            background: #fff;
            left: 0;
            top: 11px;
            cursor: pointer;
            font-size: 8px;
            height: 16px;
            min-height: 0;
            min-width: 0;
            padding: 3px;
            text-align: center;
            transition: all .25s ease-in;
            -webkit-transition: all .25s ease-in;
            width: 16px;
            color: #fff;
          }
        }

      }

      &:hover {
        label:before{
          background-color: $amarelo;
          border: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 992px){
  header #top-menu{
    position: inherit;

    a{
      &:hover{
        &:before{
          display: none;
        }
        &:after{
          display: none;
        }
      }
    }

  }
  div#myNavbar {
    border: none;
  }
  #banner{
    margin-top: 0;

    .produto{
      padding-top: 120px;
    }

    .titulo-banner{
      text-align: center;
      padding-left: 0;
    }
    h2{
      padding-left: 0;
      text-align: center;
    }
  }
}

.owl-controls {
  .owl-buttons {
    top: 45%;
    position: absolute;
    width: 100%;

    div {
      border-radius: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      padding: 0;
    }

    .owl-prev {
      position: absolute;
      left: 0;
    }

    .owl-next {
      position: absolute;
      right: 0;
    }
  }
}

/* === Pagination === */
.navigation {
  clear: both;
}
.navigation ul{
  padding: 0;
  text-align: center;
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  color: #fff;
  text-decoration:none;
}

.navigation li {
  display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  background-color: $azul;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  padding: 12px;
  padding: 0.75rem;
}

.navigation li a:hover,
.navigation li.active a {
  background-color: $amarelo;
}

.file-list {
  list-style: none;
  padding: 0;

  li {
    background-color: #e4e4e4;
    border-radius: 15px;
    color: #666;
    padding: 10px;
    margin: 0 0 5px 0;

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('img/icon_pdf.png');

    }

    a{
      font-size: 14px;
      color: #a6462c;
      font-family: 'PT Sans',sans-serif;
      font-weight: 400;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 320px){
  header #top-menu{
    position: inherit;
    border: none;

    a{
      &:hover{
        &:before{
          display: none;
        }
        &:after{
          display: none;
        }
      }
    }
  }
  div#myNavbar {
    border: none;
  }
  #banner{
    margin-top: 0px;

    .produto{

        padding-top: 60px;
    }

    .titulo-banner{
      text-align: center;
      padding-left: 0px;

      &:before{
        display: none;
      }
    }
    h2{
      padding-left: 0px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 767px) {
  .tab-content>.active {
    height:100%;
  }
  .thumbnail-height { height: 350px; }

  #sidebar-produto {
    #galeria {
      .big {height: auto;}
    }
  }
  #produtos {
    #produtos-content {
      background: none;

      .featured {
        display: none;
      }
    }
  }
  body {
    background: #ddd;
    color: #5a5350;
    overflow-y: scroll;
    overflow-x: hidden;
  }


  html, body, .perspective {
    width: 100%;
    height: 100%;
  }

  .perspective {
    background: #aaa;
    position: relative;
  }
  .main-container {
    background: #fff;
    min-height: 100%;
    position: relative;
    outline: 1px solid rgba(0,0,0,0);
    z-index: 10;
    -webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
    transform: translateZ(0) translateX(0) rotateY(0deg);
  }
  .main-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    opacity: 0;
    background: rgba(0,0,0,0.2);
    /* the transition delay of the height needs to be synced with the container transition time */
    -webkit-transition: opacity 0.4s, height 0s 0.4s;
    transition: opacity 0.4s, height 0s 0.4s;
  }

  .modal-open .main-container {
    z-index: inherit;
    transform: inherit;
    -webkit-transform: inherit;
  }

  .wrapper {
    position: relative;
  }

  .component {
    margin: 0 auto;
    width: 60%;
    text-align: justify;
    font-size: 1.5em;
  }

  /* Modal view */
  .perspective.modalview {
    position: fixed;
    -webkit-perspective: 1500px;
    perspective: 1500px;
  }

  .modalview .main-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .modalview .wrapper {
    -webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
  }

  .animate .main-container::after {
    opacity: 1;
    height: 101%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .outer-nav {
    position: absolute;
    height: auto;
    font-size: 2em;
  }

  .outer-nav.vertical {
    top: 45%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    font-size: 19px;
  }
  .outer-nav.left {
    left: 20%;

    padding: 0;
    list-style: none;
  }

  .outer-nav li ul {
    padding-left: 10px;
    list-style: none;
  }
  .outer-nav a {
    display: inline-block;
    white-space: nowrap;
    font-weight: 300;
    margin: 0 0 17px;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .outer-nav a:hover {
    color: #ffdccd;
  }

  .outer-nav li {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .outer-nav.vertical a {
    display: block;
  }

  .outer-nav.horizontal a {
    margin: 15px 20px;
  }

  /* Effect airbnb */
  .effect-airbnb {
    background: #b8b6b4;
  }

  .effect-airbnb .main-container {
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  .effect-airbnb.animate .main-container {
    -webkit-transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
    transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
  }

  .no-csstransforms3d .effect-airbnb.animate .main-container {
    left: 75%;
  }

  .effect-airbnb .outer-nav li {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
  }

  .effect-airbnb.animate .outer-nav li {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .effect-airbnb.animate .outer-nav li:nth-child(2) {
    -webkit-transition-delay: 0.04s;
    transition-delay: 0.04s;
  }

  .effect-airbnb.animate .outer-nav li:nth-child(3) {
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
  }

  .effect-airbnb.animate .outer-nav li:nth-child(4) {
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s;
  }

  .effect-airbnb.animate .outer-nav li:nth-child(5) {
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s;
  }

  .effect-airbnb.animate .outer-nav li:nth-child(6) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  .effect-airbnb.animate .outer-nav li:nth-child(7) {
    -webkit-transition-delay: 0.24s;
    transition-delay: 0.24s;
  }

  .txt-hero {
    padding:0;
  }


  #produtos {
    #lista-produtos {
      li {
        &.active {
          .blue-icon {
            opacity: 1;
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 768px) {
  .outer-nav {
    display: none;
  }

}

@media only screen and (min-width: 1200px){
  #blog-content{padding-right: 0;}
}