/*
Theme Name: Aricabos
Author: Agência 3xceler
*/


.modal-bg {
	position: absolute;
	background-color: #271f4c;
	height: 100%;
	width: 100%;
	display: block;
	margin:  auto;
	left:  0;
	top:  0;
	transition: all 0.2s ease-in-out;
	text-align: center;
	overflow-x: hidden;
}

.modal-content-promotional {
	position: relative;
	top: 35%;
	transform: translateY(-50%);
	right: -100px;
	max-width: 100%;
}

.close-modal-content {
	color:  white;
	text-shadow: rgba(0, 0, 0, .5)  4px 8px 4px;
	position: absolute;
	top: 100px;
	right:  20%;
	z-index: 2;
	background-color: transparent;
	border: 0;
}

.download-catalog-button {
	display: block;
	position: absolute;
	top: 77%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin:  auto;
}

.download-catalog-button:hover img {
	transform: scale(1.05);
}

.download-catalog-button img {
	border-radius:  4px;
	transition: transform 0.2s ease-in-out;