
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../../css/fonts/glyphicons-halflings-regular.eot);
    src: url(../../css/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
    url(../../css/fonts/glyphicons-halflings-regular.woff2) format('woff2'),
    url(../../css/fonts/glyphicons-halflings-regular.woff) format('woff'),
    url(../../css/fonts/glyphicons-halflings-regular.ttf) format('truetype'),
    url(../../css/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-asterisk:before {
    content: "\2a"
}

.glyphicon-plus:before {
    content: "\2b"
}

.glyphicon-eur:before,.glyphicon-euro:before {
    content: "\20ac"
}

.glyphicon-minus:before {
    content: "\2212"
}

.glyphicon-cloud:before {
    content: "\2601"
}

.glyphicon-envelope:before {
    content: "\2709"
}

.glyphicon-pencil:before {
    content: "\270f"
}

.glyphicon-glass:before {
    content: "\e001"
}

.glyphicon-music:before {
    content: "\e002"
}

.glyphicon-search:before {
    content: "\e003"
}

.glyphicon-heart:before {
    content: "\e005"
}

.glyphicon-star:before {
    content: "\e006"
}

.glyphicon-star-empty:before {
    content: "\e007"
}

.glyphicon-user:before {
    content: "\e008"
}

.glyphicon-film:before {
    content: "\e009"
}

.glyphicon-th-large:before {
    content: "\e010"
}

.glyphicon-th:before {
    content: "\e011"
}

.glyphicon-th-list:before {
    content: "\e012"
}

.glyphicon-ok:before {
    content: "\e013"
}

.glyphicon-remove:before {
    content: "\e014"
}

.glyphicon-zoom-in:before {
    content: "\e015"
}

.glyphicon-zoom-out:before {
    content: "\e016"
}

.glyphicon-off:before {
    content: "\e017"
}

.glyphicon-signal:before {
    content: "\e018"
}

.glyphicon-cog:before {
    content: "\e019"
}

.glyphicon-trash:before {
    content: "\e020"
}

.glyphicon-home:before {
    content: "\e021"
}

.glyphicon-file:before {
    content: "\e022"
}

.glyphicon-time:before {
    content: "\e023"
}

.glyphicon-road:before {
    content: "\e024"
}

.glyphicon-download-alt:before {
    content: "\e025"
}

.glyphicon-download:before {
    content: "\e026"
}

.glyphicon-upload:before {
    content: "\e027"
}

.glyphicon-inbox:before {
    content: "\e028"
}

.glyphicon-play-circle:before {
    content: "\e029"
}

.glyphicon-repeat:before {
    content: "\e030"
}

.glyphicon-refresh:before {
    content: "\e031"
}

.glyphicon-list-alt:before {
    content: "\e032"
}

.glyphicon-lock:before {
    content: "\e033"
}

.glyphicon-flag:before {
    content: "\e034"
}

.glyphicon-headphones:before {
    content: "\e035"
}

.glyphicon-volume-off:before {
    content: "\e036"
}

.glyphicon-volume-down:before {
    content: "\e037"
}

.glyphicon-volume-up:before {
    content: "\e038"
}

.glyphicon-qrcode:before {
    content: "\e039"
}

.glyphicon-barcode:before {
    content: "\e040"
}

.glyphicon-tag:before {
    content: "\e041"
}

.glyphicon-tags:before {
    content: "\e042"
}

.glyphicon-book:before {
    content: "\e043"
}

.glyphicon-bookmark:before {
    content: "\e044"
}

.glyphicon-print:before {
    content: "\e045"
}

.glyphicon-camera:before {
    content: "\e046"
}

.glyphicon-font:before {
    content: "\e047"
}

.glyphicon-bold:before {
    content: "\e048"
}

.glyphicon-italic:before {
    content: "\e049"
}

.glyphicon-text-height:before {
    content: "\e050"
}

.glyphicon-text-width:before {
    content: "\e051"
}

.glyphicon-align-left:before {
    content: "\e052"
}

.glyphicon-align-center:before {
    content: "\e053"
}

.glyphicon-align-right:before {
    content: "\e054"
}

.glyphicon-align-justify:before {
    content: "\e055"
}

.glyphicon-list:before {
    content: "\e056"
}

.glyphicon-indent-left:before {
    content: "\e057"
}

.glyphicon-indent-right:before {
    content: "\e058"
}

.glyphicon-facetime-video:before {
    content: "\e059"
}

.glyphicon-picture:before {
    content: "\e060"
}

.glyphicon-map-marker:before {
    content: "\e062"
}

.glyphicon-adjust:before {
    content: "\e063"
}

.glyphicon-tint:before {
    content: "\e064"
}

.glyphicon-edit:before {
    content: "\e065"
}

.glyphicon-share:before {
    content: "\e066"
}

.glyphicon-check:before {
    content: "\e067"
}

.glyphicon-move:before {
    content: "\e068"
}

.glyphicon-step-backward:before {
    content: "\e069"
}

.glyphicon-fast-backward:before {
    content: "\e070"
}

.glyphicon-backward:before {
    content: "\e071"
}

.glyphicon-play:before {
    content: "\e072"
}

.glyphicon-pause:before {
    content: "\e073"
}

.glyphicon-stop:before {
    content: "\e074"
}

.glyphicon-forward:before {
    content: "\e075"
}

.glyphicon-fast-forward:before {
    content: "\e076"
}

.glyphicon-step-forward:before {
    content: "\e077"
}

.glyphicon-eject:before {
    content: "\e078"
}

.glyphicon-chevron-left:before {
    content: "\e079"
}

.glyphicon-chevron-right:before {
    content: "\e080"
}

.glyphicon-plus-sign:before {
    content: "\e081"
}

.glyphicon-minus-sign:before {
    content: "\e082"
}

.glyphicon-remove-sign:before {
    content: "\e083"
}

.glyphicon-ok-sign:before {
    content: "\e084"
}

.glyphicon-question-sign:before {
    content: "\e085"
}

.glyphicon-info-sign:before {
    content: "\e086"
}

.glyphicon-screenshot:before {
    content: "\e087"
}

.glyphicon-remove-circle:before {
    content: "\e088"
}

.glyphicon-ok-circle:before {
    content: "\e089"
}

.glyphicon-ban-circle:before {
    content: "\e090"
}

.glyphicon-arrow-left:before {
    content: "\e091"
}

.glyphicon-arrow-right:before {
    content: "\e092"
}

.glyphicon-arrow-up:before {
    content: "\e093"
}

.glyphicon-arrow-down:before {
    content: "\e094"
}

.glyphicon-share-alt:before {
    content: "\e095"
}

.glyphicon-resize-full:before {
    content: "\e096"
}

.glyphicon-resize-small:before {
    content: "\e097"
}

.glyphicon-exclamation-sign:before {
    content: "\e101"
}

.glyphicon-gift:before {
    content: "\e102"
}

.glyphicon-leaf:before {
    content: "\e103"
}

.glyphicon-fire:before {
    content: "\e104"
}

.glyphicon-eye-open:before {
    content: "\e105"
}

.glyphicon-eye-close:before {
    content: "\e106"
}

.glyphicon-warning-sign:before {
    content: "\e107"
}

.glyphicon-plane:before {
    content: "\e108"
}

.glyphicon-calendar:before {
    content: "\e109"
}

.glyphicon-random:before {
    content: "\e110"
}

.glyphicon-comment:before {
    content: "\e111"
}

.glyphicon-magnet:before {
    content: "\e112"
}

.glyphicon-chevron-up:before {
    content: "\e113"
}

.glyphicon-chevron-down:before {
    content: "\e114"
}

.glyphicon-retweet:before {
    content: "\e115"
}

.glyphicon-shopping-cart:before {
    content: "\e116"
}

.glyphicon-folder-close:before {
    content: "\e117"
}

.glyphicon-folder-open:before {
    content: "\e118"
}

.glyphicon-resize-vertical:before {
    content: "\e119"
}

.glyphicon-resize-horizontal:before {
    content: "\e120"
}

.glyphicon-hdd:before {
    content: "\e121"
}

.glyphicon-bullhorn:before {
    content: "\e122"
}

.glyphicon-bell:before {
    content: "\e123"
}

.glyphicon-certificate:before {
    content: "\e124"
}

.glyphicon-thumbs-up:before {
    content: "\e125"
}

.glyphicon-thumbs-down:before {
    content: "\e126"
}

.glyphicon-hand-right:before {
    content: "\e127"
}

.glyphicon-hand-left:before {
    content: "\e128"
}

.glyphicon-hand-up:before {
    content: "\e129"
}

.glyphicon-hand-down:before {
    content: "\e130"
}

.glyphicon-circle-arrow-right:before {
    content: "\e131"
}

.glyphicon-circle-arrow-left:before {
    content: "\e132"
}

.glyphicon-circle-arrow-up:before {
    content: "\e133"
}

.glyphicon-circle-arrow-down:before {
    content: "\e134"
}

.glyphicon-globe:before {
    content: "\e135"
}

.glyphicon-wrench:before {
    content: "\e136"
}

.glyphicon-tasks:before {
    content: "\e137"
}

.glyphicon-filter:before {
    content: "\e138"
}

.glyphicon-briefcase:before {
    content: "\e139"
}

.glyphicon-fullscreen:before {
    content: "\e140"
}

.glyphicon-dashboard:before {
    content: "\e141"
}

.glyphicon-paperclip:before {
    content: "\e142"
}

.glyphicon-heart-empty:before {
    content: "\e143"
}

.glyphicon-link:before {
    content: "\e144"
}

.glyphicon-phone:before {
    content: "\e145"
}

.glyphicon-pushpin:before {
    content: "\e146"
}

.glyphicon-usd:before {
    content: "\e148"
}

.glyphicon-gbp:before {
    content: "\e149"
}

.glyphicon-sort:before {
    content: "\e150"
}

.glyphicon-sort-by-alphabet:before {
    content: "\e151"
}

.glyphicon-sort-by-alphabet-alt:before {
    content: "\e152"
}

.glyphicon-sort-by-order:before {
    content: "\e153"
}

.glyphicon-sort-by-order-alt:before {
    content: "\e154"
}

.glyphicon-sort-by-attributes:before {
    content: "\e155"
}

.glyphicon-sort-by-attributes-alt:before {
    content: "\e156"
}

.glyphicon-unchecked:before {
    content: "\e157"
}

.glyphicon-expand:before {
    content: "\e158"
}

.glyphicon-collapse-down:before {
    content: "\e159"
}

.glyphicon-collapse-up:before {
    content: "\e160"
}

.glyphicon-log-in:before {
    content: "\e161"
}

.glyphicon-flash:before {
    content: "\e162"
}

.glyphicon-log-out:before {
    content: "\e163"
}

.glyphicon-new-window:before {
    content: "\e164"
}

.glyphicon-record:before {
    content: "\e165"
}

.glyphicon-save:before {
    content: "\e166"
}

.glyphicon-open:before {
    content: "\e167"
}

.glyphicon-saved:before {
    content: "\e168"
}

.glyphicon-import:before {
    content: "\e169"
}

.glyphicon-export:before {
    content: "\e170"
}

.glyphicon-send:before {
    content: "\e171"
}

.glyphicon-floppy-disk:before {
    content: "\e172"
}

.glyphicon-floppy-saved:before {
    content: "\e173"
}

.glyphicon-floppy-remove:before {
    content: "\e174"
}

.glyphicon-floppy-save:before {
    content: "\e175"
}

.glyphicon-floppy-open:before {
    content: "\e176"
}

.glyphicon-credit-card:before {
    content: "\e177"
}

.glyphicon-transfer:before {
    content: "\e178"
}

.glyphicon-cutlery:before {
    content: "\e179"
}

.glyphicon-header:before {
    content: "\e180"
}

.glyphicon-compressed:before {
    content: "\e181"
}

.glyphicon-earphone:before {
    content: "\e182"
}

.glyphicon-phone-alt:before {
    content: "\e183"
}

.glyphicon-tower:before {
    content: "\e184"
}

.glyphicon-stats:before {
    content: "\e185"
}

.glyphicon-sd-video:before {
    content: "\e186"
}

.glyphicon-hd-video:before {
    content: "\e187"
}

.glyphicon-subtitles:before {
    content: "\e188"
}

.glyphicon-sound-stereo:before {
    content: "\e189"
}

.glyphicon-sound-dolby:before {
    content: "\e190"
}

.glyphicon-sound-5-1:before {
    content: "\e191"
}

.glyphicon-sound-6-1:before {
    content: "\e192"
}

.glyphicon-sound-7-1:before {
    content: "\e193"
}

.glyphicon-copyright-mark:before {
    content: "\e194"
}

.glyphicon-registration-mark:before {
    content: "\e195"
}

.glyphicon-cloud-download:before {
    content: "\e197"
}

.glyphicon-cloud-upload:before {
    content: "\e198"
}

.glyphicon-tree-conifer:before {
    content: "\e199"
}

.glyphicon-tree-deciduous:before {
    content: "\e200"
}

.glyphicon-cd:before {
    content: "\e201"
}

.glyphicon-save-file:before {
    content: "\e202"
}

.glyphicon-open-file:before {
    content: "\e203"
}

.glyphicon-level-up:before {
    content: "\e204"
}

.glyphicon-copy:before {
    content: "\e205"
}

.glyphicon-paste:before {
    content: "\e206"
}

.glyphicon-alert:before {
    content: "\e209"
}

.glyphicon-equalizer:before {
    content: "\e210"
}

.glyphicon-king:before {
    content: "\e211"
}

.glyphicon-queen:before {
    content: "\e212"
}

.glyphicon-pawn:before {
    content: "\e213"
}

.glyphicon-bishop:before {
    content: "\e214"
}

.glyphicon-knight:before {
    content: "\e215"
}

.glyphicon-baby-formula:before {
    content: "\e216"
}

.glyphicon-tent:before {
    content: "\26fa"
}

.glyphicon-blackboard:before {
    content: "\e218"
}

.glyphicon-bed:before {
    content: "\e219"
}

.glyphicon-apple:before {
    content: "\f8ff"
}

.glyphicon-erase:before {
    content: "\e221"
}

.glyphicon-hourglass:before {
    content: "\231b"
}

.glyphicon-lamp:before {
    content: "\e223"
}

.glyphicon-duplicate:before {
    content: "\e224"
}

.glyphicon-piggy-bank:before {
    content: "\e225"
}

.glyphicon-scissors:before {
    content: "\e226"
}

.glyphicon-bitcoin:before {
    content: "\e227"
}

.glyphicon-yen:before {
    content: "\00a5"
}

.glyphicon-ruble:before {
    content: "\20bd"
}

.glyphicon-scale:before {
    content: "\e230"
}

.glyphicon-ice-lolly:before {
    content: "\e231"
}

.glyphicon-ice-lolly-tasted:before {
    content: "\e232"
}

.glyphicon-education:before {
    content: "\e233"
}

.glyphicon-option-horizontal:before {
    content: "\e234"
}

.glyphicon-option-vertical:before {
    content: "\e235"
}

.glyphicon-menu-hamburger:before {
    content: "\e236"
}

.glyphicon-modal-window:before {
    content: "\e237"
}

.glyphicon-oil:before {
    content: "\e238"
}

.glyphicon-grain:before {
    content: "\e239"
}

.glyphicon-sunglasses:before {
    content: "\e240"
}

.glyphicon-text-size:before {
    content: "\e241"
}

.glyphicon-text-color:before {
    content: "\e242"
}

.glyphicon-text-background:before {
    content: "\e243"
}

.glyphicon-object-align-top:before {
    content: "\e244"
}

.glyphicon-object-align-bottom:before {
    content: "\e245"
}

.glyphicon-object-align-horizontal:before {
    content: "\e246"
}

.glyphicon-object-align-left:before {
    content: "\e247"
}

.glyphicon-object-align-vertical:before {
    content: "\e248"
}

.glyphicon-object-align-right:before {
    content: "\e249"
}

.glyphicon-triangle-right:before {
    content: "\e250"
}

.glyphicon-triangle-left:before {
    content: "\e251"
}

.glyphicon-triangle-bottom:before {
    content: "\e252"
}

.glyphicon-triangle-top:before {
    content: "\e253"
}

.glyphicon-console:before {
    content: "\e254"
}

.glyphicon-superscript:before {
    content: "\e255"
}

.glyphicon-subscript:before {
    content: "\e256"
}

.glyphicon-menu-left:before {
    content: "\e257"
}

.glyphicon-menu-right:before {
    content: "\e258"
}

.glyphicon-menu-down:before {
    content: "\e259"
}

.glyphicon-menu-up:before {
    content: "\e260"
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after, .btn-toolbar:before,
.clearfix:after, .clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group-vertical>.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.form-horizontal .form-group:after,
.row:after {
    clear: both;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type=checkbox],input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal
}

input[type=file] {
    display: block
}

input[type=range] {
    display: block;
    width: 100%
}

select[multiple],select[size] {
    height: auto
}

input[type=file]:focus,input[type=checkbox]:focus,input[type=radio]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1
}

.form-control[disabled],fieldset[disabled] .form-control {
    cursor: not-allowed
}

textarea.form-control {
    height: auto
}

input[type=search] {
    -webkit-appearance: none
}

.form-group {
    margin-bottom: 15px
}

.checkbox,.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}

.checkbox label,.radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer
}

.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox],.radio input[type=radio],.radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px
}

.checkbox+.checkbox,.radio+.radio {
    margin-top: -5px
}

.checkbox-inline,.radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer
}

.checkbox-inline+.checkbox-inline,.radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px
}

fieldset[disabled] input[type=checkbox],fieldset[disabled] input[type=radio],input[type=checkbox].disabled,input[type=checkbox][disabled],input[type=radio].disabled,input[type=radio][disabled] {
    cursor: not-allowed
}

.checkbox-inline.disabled,.radio-inline.disabled,fieldset[disabled] .checkbox-inline,fieldset[disabled] .radio-inline {
    cursor: not-allowed
}

.checkbox.disabled label,.radio.disabled label,fieldset[disabled] .checkbox label,fieldset[disabled] .radio label {
    cursor: not-allowed
}

.form-control-static {
    min-height: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0
}

.form-control-static.input-lg,.form-control-static.input-sm {
    padding-right: 0;
    padding-left: 0
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

select.input-sm {
    height: 30px;
    line-height: 30px
}

select[multiple].input-sm,textarea.input-sm {
    height: auto
}

.form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.form-group-sm select.form-control {
    height: 30px;
    line-height: 30px
}

.form-group-sm select[multiple].form-control,.form-group-sm textarea.form-control {
    height: auto
}

.form-group-sm .form-control-static {
    height: 30px;
    min-height: 32px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.5
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}

select.input-lg {
    height: 46px;
    line-height: 46px
}

select[multiple].input-lg,textarea.input-lg {
    height: auto
}

.form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}

.form-group-lg select.form-control {
    height: 46px;
    line-height: 46px
}

.form-group-lg select[multiple].form-control,.form-group-lg textarea.form-control {
    height: auto
}

.form-group-lg .form-control-static {
    height: 46px;
    min-height: 38px;
    padding: 11px 16px;
    font-size: 18px;
    line-height: 1.3333333
}

.has-feedback {
    position: relative
}

.has-feedback .form-control {
    padding-right: 42.5px
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none
}

.form-group-lg .form-control+.form-control-feedback,.input-group-lg+.form-control-feedback,.input-lg+.form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px
}

.form-group-sm .form-control+.form-control-feedback,.input-group-sm+.form-control-feedback,.input-sm+.form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px
}

.has-success .checkbox,.has-success .checkbox-inline,.has-success .control-label,.has-success .help-block,.has-success .radio,.has-success .radio-inline,.has-success.checkbox label,.has-success.checkbox-inline label,.has-success.radio label,.has-success.radio-inline label {
    color: #3c763d
}

.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168
}

.has-success .input-group-addon {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d
}

.has-success .form-control-feedback {
    color: #3c763d
}

.has-warning .checkbox,.has-warning .checkbox-inline,.has-warning .control-label,.has-warning .help-block,.has-warning .radio,.has-warning .radio-inline,.has-warning.checkbox label,.has-warning.checkbox-inline label,.has-warning.radio label,.has-warning.radio-inline label {
    color: #8a6d3b
}

.has-warning .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

.has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b
}

.has-warning .input-group-addon {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #8a6d3b
}

.has-warning .form-control-feedback {
    color: #8a6d3b
}

.has-error .checkbox,.has-error .checkbox-inline,.has-error .control-label,.has-error .help-block,.has-error .radio,.has-error .radio-inline,.has-error.checkbox label,.has-error.checkbox-inline label,.has-error.radio label,.has-error.radio-inline label {
    color: #a94442
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483
}

.has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442
}

.has-error .form-control-feedback {
    color: #a94442
}

.has-feedback label~.form-control-feedback {
    top: 25px
}

.has-feedback label.sr-only~.form-control-feedback {
    top: 0
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373
}


.form-horizontal .checkbox,.form-horizontal .checkbox-inline,.form-horizontal .radio,.form-horizontal .radio-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0
}

.form-horizontal .checkbox,.form-horizontal .radio {
    min-height: 27px
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px
}

.sc-container-fluid * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sc-container-fluid *:before,
.sc-container-fluid *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sc-container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    overflow: hidden;
}
.sc-row {
    margin-right: -15px;
    margin-left: -15px;
    display: block;
    clear: both;
}
.sc-col-xs-1, .sc-col-sm-1, .sc-col-md-1, .sc-col-lg-1, .sc-col-xs-2, .sc-col-sm-2, .sc-col-md-2, .sc-col-lg-2, .sc-col-xs-3, .sc-col-sm-3, .sc-col-md-3, .sc-col-lg-3, .sc-col-xs-4, .sc-col-sm-4, .sc-col-md-4, .sc-col-lg-4, .sc-col-xs-5, .sc-col-sm-5, .sc-col-md-5, .sc-col-lg-5, .sc-col-xs-6, .sc-col-sm-6, .sc-col-md-6, .sc-col-lg-6, .sc-col-xs-7, .sc-col-sm-7, .sc-col-md-7, .sc-col-lg-7, .sc-col-xs-8, .sc-col-sm-8, .sc-col-md-8, .sc-col-lg-8, .sc-col-xs-9, .sc-col-sm-9, .sc-col-md-9, .sc-col-lg-9, .sc-col-xs-10, .sc-col-sm-10, .sc-col-md-10, .sc-col-lg-10, .sc-col-xs-11, .sc-col-sm-11, .sc-col-md-11, .sc-col-lg-11, .sc-col-xs-12, .sc-col-sm-12, .sc-col-md-12, .sc-col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.sc-col-xs-1, .sc-col-xs-2, .sc-col-xs-3, .sc-col-xs-4, .sc-col-xs-5, .sc-col-xs-6, .sc-col-xs-7, .sc-col-xs-8, .sc-col-xs-9, .sc-col-xs-10, .sc-col-xs-11, .sc-col-xs-12 {
    float: left;
}
.sc-col-xs-12 {
    width: 100%;
}
.sc-col-xs-11 {
    width: 91.66666667%;
}
.sc-col-xs-10 {
    width: 83.33333333%;
}
.sc-col-xs-9 {
    width: 75%;
}
.sc-col-xs-8 {
    width: 66.66666667%;
}
.sc-col-xs-7 {
    width: 58.33333333%;
}
.sc-col-xs-6 {
    width: 50%;
}
.sc-col-xs-5 {
    width: 41.66666667%;
}
.sc-col-xs-4 {
    width: 33.33333333%;
}
.sc-col-xs-3 {
    width: 25%;
}
.sc-col-xs-2 {
    width: 16.66666667%;
}
.sc-col-xs-1 {
    width: 8.33333333%;
}
.sc-col-xs-pull-12 {
    right: 100%;
}
.sc-col-xs-pull-11 {
    right: 91.66666667%;
}
.sc-col-xs-pull-10 {
    right: 83.33333333%;
}
.sc-col-xs-pull-9 {
    right: 75%;
}
.sc-col-xs-pull-8 {
    right: 66.66666667%;
}
.sc-col-xs-pull-7 {
    right: 58.33333333%;
}
.sc-col-xs-pull-6 {
    right: 50%;
}
.sc-col-xs-pull-5 {
    right: 41.66666667%;
}
.sc-col-xs-pull-4 {
    right: 33.33333333%;
}
.sc-col-xs-pull-3 {
    right: 25%;
}
.sc-col-xs-pull-2 {
    right: 16.66666667%;
}
.sc-col-xs-pull-1 {
    right: 8.33333333%;
}
.sc-col-xs-pull-0 {
    right: auto;
}
.sc-col-xs-push-12 {
    left: 100%;
}
.sc-col-xs-push-11 {
    left: 91.66666667%;
}
.sc-col-xs-push-10 {
    left: 83.33333333%;
}
.sc-col-xs-push-9 {
    left: 75%;
}
.sc-col-xs-push-8 {
    left: 66.66666667%;
}
.sc-col-xs-push-7 {
    left: 58.33333333%;
}
.sc-col-xs-push-6 {
    left: 50%;
}
.sc-col-xs-push-5 {
    left: 41.66666667%;
}
.sc-col-xs-push-4 {
    left: 33.33333333%;
}
.sc-col-xs-push-3 {
    left: 25%;
}
.sc-col-xs-push-2 {
    left: 16.66666667%;
}
.sc-col-xs-push-1 {
    left: 8.33333333%;
}
.sc-col-xs-push-0 {
    left: auto;
}
.sc-col-xs-offset-12 {
    margin-left: 100%;
}
.sc-col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.sc-col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.sc-col-xs-offset-9 {
    margin-left: 75%;
}
.sc-col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.sc-col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.sc-col-xs-offset-6 {
    margin-left: 50%;
}
.sc-col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.sc-col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.sc-col-xs-offset-3 {
    margin-left: 25%;
}
.sc-col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.sc-col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.sc-col-xs-offset-0 {
    margin-left: 0;
}
@media (min-width: 768px) {
    .sc-col-sm-1, .sc-col-sm-2, .sc-col-sm-3, .sc-col-sm-4, .sc-col-sm-5, .sc-col-sm-6, .sc-col-sm-7, .sc-col-sm-8, .sc-col-sm-9, .sc-col-sm-10, .sc-col-sm-11, .sc-col-sm-12 {
        float: left;
    }
    .sc-col-sm-12 {
        width: 100%;
    }
    .sc-col-sm-11 {
        width: 91.66666667%;
    }
    .sc-col-sm-10 {
        width: 83.33333333%;
    }
    .sc-col-sm-9 {
        width: 75%;
    }
    .sc-col-sm-8 {
        width: 66.66666667%;
    }
    .sc-col-sm-7 {
        width: 58.33333333%;
    }
    .sc-col-sm-6 {
        width: 50%;
    }
    .sc-col-sm-5 {
        width: 41.66666667%;
    }
    .sc-col-sm-4 {
        width: 33.33333333%;
    }
    .sc-col-sm-3 {
        width: 25%;
    }
    .sc-col-sm-2 {
        width: 16.66666667%;
    }
    .sc-col-sm-1 {
        width: 8.33333333%;
    }
    .sc-col-sm-pull-12 {
        right: 100%;
    }
    .sc-col-sm-pull-11 {
        right: 91.66666667%;
    }
    .sc-col-sm-pull-10 {
        right: 83.33333333%;
    }
    .sc-col-sm-pull-9 {
        right: 75%;
    }
    .sc-col-sm-pull-8 {
        right: 66.66666667%;
    }
    .sc-col-sm-pull-7 {
        right: 58.33333333%;
    }
    .sc-col-sm-pull-6 {
        right: 50%;
    }
    .sc-col-sm-pull-5 {
        right: 41.66666667%;
    }
    .sc-col-sm-pull-4 {
        right: 33.33333333%;
    }
    .sc-col-sm-pull-3 {
        right: 25%;
    }
    .sc-col-sm-pull-2 {
        right: 16.66666667%;
    }
    .sc-col-sm-pull-1 {
        right: 8.33333333%;
    }
    .sc-col-sm-pull-0 {
        right: auto;
    }
    .sc-col-sm-push-12 {
        left: 100%;
    }
    .sc-col-sm-push-11 {
        left: 91.66666667%;
    }
    .sc-col-sm-push-10 {
        left: 83.33333333%;
    }
    .sc-col-sm-push-9 {
        left: 75%;
    }
    .sc-col-sm-push-8 {
        left: 66.66666667%;
    }
    .sc-col-sm-push-7 {
        left: 58.33333333%;
    }
    .sc-col-sm-push-6 {
        left: 50%;
    }
    .sc-col-sm-push-5 {
        left: 41.66666667%;
    }
    .sc-col-sm-push-4 {
        left: 33.33333333%;
    }
    .sc-col-sm-push-3 {
        left: 25%;
    }
    .sc-col-sm-push-2 {
        left: 16.66666667%;
    }
    .sc-col-sm-push-1 {
        left: 8.33333333%;
    }
    .sc-col-sm-push-0 {
        left: auto;
    }
    .sc-col-sm-offset-12 {
        margin-left: 100%;
    }
    .sc-col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .sc-col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .sc-col-sm-offset-9 {
        margin-left: 75%;
    }
    .sc-col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .sc-col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .sc-col-sm-offset-6 {
        margin-left: 50%;
    }
    .sc-col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .sc-col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .sc-col-sm-offset-3 {
        margin-left: 25%;
    }
    .sc-col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .sc-col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .sc-col-sm-offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 992px)  {
    .sc-col-md-1, .sc-col-md-2, .sc-col-md-3, .sc-col-md-4, .sc-col-md-5, .sc-col-md-6, .sc-col-md-7, .sc-col-md-8, .sc-col-md-9, .sc-col-md-10, .sc-col-md-11, .sc-col-md-12 {
        float: left;
    }
    .sc-col-md-12 {
        width: 100%;
    }
    .sc-col-md-11 {
        width: 91.66666667%;
    }
    .sc-col-md-10 {
        width: 83.33333333%;
    }
    .sc-col-md-9 {
        width: 75%;
    }
    .sc-col-md-8 {
        width: 66.66666667%;
    }
    .sc-col-md-7 {
        width: 58.33333333%;
    }
    .sc-col-md-6 {
        width: 50%;
    }
    .sc-col-md-5 {
        width: 41.66666667%;
    }
    .sc-col-md-4 {
        width: 33.33333333%;
    }
    .sc-col-md-3 {
        width: 25%;
    }
    .sc-col-md-2 {
        width: 16.66666667%;
    }
    .sc-col-md-1 {
        width: 8.33333333%;
    }
    .sc-col-md-pull-12 {
        right: 100%;
    }
    .sc-col-md-pull-11 {
        right: 91.66666667%;
    }
    .sc-col-md-pull-10 {
        right: 83.33333333%;
    }
    .sc-col-md-pull-9 {
        right: 75%;
    }
    .sc-col-md-pull-8 {
        right: 66.66666667%;
    }
    .sc-col-md-pull-7 {
        right: 58.33333333%;
    }
    .sc-col-md-pull-6 {
        right: 50%;
    }
    .sc-col-md-pull-5 {
        right: 41.66666667%;
    }
    .sc-col-md-pull-4 {
        right: 33.33333333%;
    }
    .sc-col-md-pull-3 {
        right: 25%;
    }
    .sc-col-md-pull-2 {
        right: 16.66666667%;
    }
    .sc-col-md-pull-1 {
        right: 8.33333333%;
    }
    .sc-col-md-pull-0 {
        right: auto;
    }
    .sc-col-md-push-12 {
        left: 100%;
    }
    .sc-col-md-push-11 {
        left: 91.66666667%;
    }
    .sc-col-md-push-10 {
        left: 83.33333333%;
    }
    .sc-col-md-push-9 {
        left: 75%;
    }
    .sc-col-md-push-8 {
        left: 66.66666667%;
    }
    .sc-col-md-push-7 {
        left: 58.33333333%;
    }
    .sc-col-md-push-6 {
        left: 50%;
    }
    .sc-col-md-push-5 {
        left: 41.66666667%;
    }
    .sc-col-md-push-4 {
        left: 33.33333333%;
    }
    .sc-col-md-push-3 {
        left: 25%;
    }
    .sc-col-md-push-2 {
        left: 16.66666667%;
    }
    .sc-col-md-push-1 {
        left: 8.33333333%;
    }
    .sc-col-md-push-0 {
        left: auto;
    }
    .sc-col-md-offset-12 {
        margin-left: 100%;
    }
    .sc-col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .sc-col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .sc-col-md-offset-9 {
        margin-left: 75%;
    }
    .sc-col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .sc-col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .sc-col-md-offset-6 {
        margin-left: 50%;
    }
    .sc-col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .sc-col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .sc-col-md-offset-3 {
        margin-left: 25%;
    }
    .sc-col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .sc-col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .sc-col-md-offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 1200px) {
    .sc-col-lg-1, .sc-col-lg-2, .sc-col-lg-3, .sc-col-lg-4, .sc-col-lg-5, .sc-col-lg-6, .sc-col-lg-7, .sc-col-lg-8, .sc-col-lg-9, .sc-col-lg-10, .sc-col-lg-11, .sc-col-lg-12 {
        float: left;
    }
    .sc-col-lg-12 {
        width: 100%;
    }
    .sc-col-lg-11 {
        width: 91.66666667%;
    }
    .sc-col-lg-10 {
        width: 83.33333333%;
    }
    .sc-col-lg-9 {
        width: 75%;
    }
    .sc-col-lg-8 {
        width: 66.66666667%;
    }
    .sc-col-lg-7 {
        width: 58.33333333%;
    }
    .sc-col-lg-6 {
        width: 50%;
    }
    .sc-col-lg-5 {
        width: 41.66666667%;
    }
    .sc-col-lg-4 {
        width: 33.33333333%;
    }
    .sc-col-lg-3 {
        width: 25%;
    }
    .sc-col-lg-2 {
        width: 16.66666667%;
    }
    .sc-col-lg-1 {
        width: 8.33333333%;
    }
    .sc-col-lg-pull-12 {
        right: 100%;
    }
    .sc-col-lg-pull-11 {
        right: 91.66666667%;
    }
    .sc-col-lg-pull-10 {
        right: 83.33333333%;
    }
    .sc-col-lg-pull-9 {
        right: 75%;
    }
    .sc-col-lg-pull-8 {
        right: 66.66666667%;
    }
    .sc-col-lg-pull-7 {
        right: 58.33333333%;
    }
    .sc-col-lg-pull-6 {
        right: 50%;
    }
    .sc-col-lg-pull-5 {
        right: 41.66666667%;
    }
    .sc-col-lg-pull-4 {
        right: 33.33333333%;
    }
    .sc-col-lg-pull-3 {
        right: 25%;
    }
    .sc-col-lg-pull-2 {
        right: 16.66666667%;
    }
    .sc-col-lg-pull-1 {
        right: 8.33333333%;
    }
    .sc-col-lg-pull-0 {
        right: auto;
    }
    .sc-col-lg-push-12 {
        left: 100%;
    }
    .sc-col-lg-push-11 {
        left: 91.66666667%;
    }
    .sc-col-lg-push-10 {
        left: 83.33333333%;
    }
    .sc-col-lg-push-9 {
        left: 75%;
    }
    .sc-col-lg-push-8 {
        left: 66.66666667%;
    }
    .sc-col-lg-push-7 {
        left: 58.33333333%;
    }
    .sc-col-lg-push-6 {
        left: 50%;
    }
    .sc-col-lg-push-5 {
        left: 41.66666667%;
    }
    .sc-col-lg-push-4 {
        left: 33.33333333%;
    }
    .sc-col-lg-push-3 {
        left: 25%;
    }
    .sc-col-lg-push-2 {
        left: 16.66666667%;
    }
    .sc-col-lg-push-1 {
        left: 8.33333333%;
    }
    .sc-col-lg-push-0 {
        left: auto;
    }
    .sc-col-lg-offset-12 {
        margin-left: 100%;
    }
    .sc-col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .sc-col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .sc-col-lg-offset-9 {
        margin-left: 75%;
    }
    .sc-col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .sc-col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .sc-col-lg-offset-6 {
        margin-left: 50%;
    }
    .sc-col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .sc-col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .sc-col-lg-offset-3 {
        margin-left: 25%;
    }
    .sc-col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .sc-col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .sc-col-lg-offset-0 {
        margin-left: 0;
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn.focus,.btn:focus,.btn:hover {
    color: #333;
    text-decoration: none
}

.btn.active,.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default.active,.btn-default.focus,.btn-default:active,.btn-default:focus,.btn-default:hover,.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default.active,.btn-default:active,.open>.dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled.focus,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled],.btn-default[disabled].active,.btn-default[disabled].focus,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled.focus,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled].focus,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover {
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success.active,.btn-success.focus,.btn-success:active,.btn-success:focus,.btn-success:hover,.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success {
    background-image: none
}

.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled.focus,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled],.btn-success[disabled].active,.btn-success[disabled].focus,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info.active,.btn-info.focus,.btn-info:active,.btn-info:focus,.btn-info:hover,.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info.active,.btn-info:active,.open>.dropdown-toggle.btn-info {
    background-image: none
}

.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled.focus,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info[disabled],.btn-info[disabled].active,.btn-info[disabled].focus,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info.active,fieldset[disabled] .btn-info.focus,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning.active,.btn-warning.focus,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning.active,.btn-warning:active,.open>.dropdown-toggle.btn-warning {
    background-image: none
}

.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled.focus,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning[disabled],.btn-warning[disabled].active,.btn-warning[disabled].focus,.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning.active,fieldset[disabled] .btn-warning.focus,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger.active,.btn-danger.focus,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger.active,.btn-danger:active,.open>.dropdown-toggle.btn-danger {
    background-image: none
}

.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled.focus,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled],.btn-danger[disabled].active,.btn-danger[disabled].focus,.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger.active,fieldset[disabled] .btn-danger.focus,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff
}

.btn-link {
    font-weight: 400;
    color: #337ab7;
    border-radius: 0
}

.btn-link,.btn-link.active,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover {
    border-color: transparent
}

.btn-link:focus,.btn-link:hover {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:focus,.btn-link[disabled]:hover,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover {
    color: #777;
    text-decoration: none
}

.btn-group-lg>.btn,.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}

.btn-group-sm>.btn,.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-group-xs>.btn,.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block+.btn-block {
    margin-top: 5px
}

.btn.btn-block {width: 100%;}

input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block {
    width: 100%
}

/* End Bootstrap */
ul.variacoes li {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
}

#theme-options-wrap {
    width: 700px;
    padding: 3em;
    background: white;
    background: -moz-linear-gradient(top, #f4f2f2, white 20%, #f4f2f2 80%, white);
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f2f2), color-stop(.2, white), color-stop(.8, #f4f2f2), to(white));
    border-top: 1px solid white;
}
#theme-options-wrap.full {
    width: 99%;
}
#theme-options-wrap #icon-tools { position: relative;  top: -10px; }

.form-table tbody {
    width: 100%;
    display: block;
}
.block-label {
    width: 100%;
    display: block;
}
.block-label th {
    display: block;
    width: 100%;
    padding-bottom: 0;
}
.block-label td {
    display: block;
    width: 100%;
    padding: 0 0 15px;
}
.clearfix:after,
.clearfix:before { display: table; content: ''; }
.clearfix:after{ clear: both;}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
button.close span { opacity: 0.5; transition: all 0.3s;}
button.close .text{
    font-size: 12px;
    vertical-align: middle;
    color: #000;
    opacity: 0;
    padding: 0 0 3px 0px;
    display: inline-block;
}
button.close:hover span { opacity: 1;}
button.close:hover span.text { color: red; opacity: 0.8;}

#adicionar-tabela {margin-top: 15px;}

#adicionar-variacao.no-exists {display: none;}
.table_name {
    border: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #000000 !important;
    border-radius: 0;
    text-align: center;
}

.modal-repeat-fields li{
    display: inline-block;
    background: #DDD;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.modal-repeat-fields li:after {
    content: 'x';
    font-size: 11px;
    margin-left: 5px;
    display: inline-block;
}
.modal-repeat-fields li:hover{
    background: #000;
    color: #FFF;
}

.pull-right{float:right;}
.actions .navbar {
    position: relative;
    margin-top: -38px;
    margin-bottom: -16px;
}

.etapa .image-selector {
    border-radius: 10px 10px 0 0;
    height: 120px;
    margin-bottom: 5px;
}
.etapa .image-selector > div{
    margin-top: 50px;
}
/** Add box sizing **/
